<div id="map_outer">
  <div id="map_canvas"></div>
</div>

<%= error_messages_for :hyperlocal_site %>

<% form_for @hyperlocal_site do |f| -%>
  <%- if action_name == "edit" -%>
    <p>
      <%= f.label :approved %>
      <%= f.check_box :approved %>
    </p>
  <%- end -%>
  <p class='required'>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>
  <p class='required'>
    <%= f.label :url %>
    <%= f.text_field :url %>
  </p>
  <p>
    <%= f.label :feed_url %>
    <%= f.text_field :feed_url %>
  </p>
  <p>
    <%= f.label :email, "Email <em>won't be published, but we may need to contact you</em>" %>
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :description, "Description <em>plain text only</em>" %>
    <%= f.text_area :description, :rows => 5 %>
  </p>
  <p>
    <%= f.label :twitter_account %>
    <%= f.text_field :twitter_account %>
  </p>
  <p>
    <%= f.label :hyperlocal_group_id %>
    <%= f.select :hyperlocal_group_id, HyperlocalGroup.all.collect{ |g|[g.title, g.id] }, { :include_blank => true } %>
  </p>
  <p>
    <%= f.label :platform %>
    <%= f.select :platform, HyperlocalSite::PossiblePlatforms, { :include_blank => true } %>
  </p>
  
  <fieldset id="hyperlocal_sites_location">
    <legend>Area covered by this site</legend>
    <p class='required'>
      <%= f.label :area_covered, "Area Covered <em>(in words - keep it short)</em>" %>
      <%= f.text_field :area_covered %>
    </p>
    <p class='required'>
      <%= f.label :country %>
      <%= f.select :country, AllowedCountries, { :include_blank => true } %>
    </p>
    <p class='required'>
      <%= f.label :lat, "Latitude" %>
      <%= f.text_field :lat %>
    </p>
    <p class='required'>
      <%= f.label :lng, "Longitude" %>
      <%= f.text_field :lng %>
    </p>
    <p>
      <%= f.label :distance, "Distance from centre point covered (km)" %>
      <%= f.text_field :distance, :value => 10 %>
    </p>
  </fieldset>
  <p>
    <%= f.submit "Submit" %>
  </p>
<% end -%>