<script type="text/javascript" charset="utf-8">
  var EARTH_RADIUS = 6378.137; //in kilometres
  var circle;
  var sites = <%= @hyperlocal_sites.to_json %>;
  var loc = <%= @location ? @location.hash.to_json : false %>;
  
  function initMap() {
    if (GBrowserIsCompatible()) {
      var map = new GMap2(document.getElementById("map_canvas"));
      var center = new GLatLng(54.3, -3);
      map.setCenter(center, 6); //set default centre
      
      var first_view = true;
      var bounds = new GLatLngBounds(); //set bounding area
      map.addControl(new GSmallMapControl());
      map.addControl(new GMapTypeControl());
      for (var i=0; i < sites.length; i++) {
        var m = createMarker(sites[i].hyperlocal_site, map, hyperlocalCaption(sites[i].hyperlocal_site));
        map.addOverlay(m);
        bounds.extend(m.getLatLng());
      };
      if(loc){
        map.setZoom(map.getBoundsZoomLevel(bounds));
        map.setCenter(bounds.getCenter());
      };
    }
  }
  
  function hyperlocalCaption(site) {
    var infoCaption = "<div class='caption'><div class='area'>" + site.area_covered + "</div><h4><a href='" + site.url + "' class='external'>" + site.title + "</a></h4>";
    infoCaption += (site.description ? ("<p>" + site.description.slice(0,90) + "...") : '<p>');
    infoCaption += "<a href='/hyperlocal_sites/" + site.id + "'>more info</a></p></div>";
    return infoCaption;
  }
</script>
<p class="breadcrumbs"><%= link_to (params[:independent]||params[:region]||params[:country] ? "Show all sites" : "Restrict to independent sites"), hyperlocal_sites_url(:independent => !params[:independent]) %></p>
<h1><%= h @title %></h1>

<div id="hyperlocal_list_map" class="map_outer">
  <div id="map_canvas"></div>
</div>

<p class='alert'><%= link_to "Add your hyperlocal site now", new_hyperlocal_site_path %></p>
<p class='new_feature'>See our new <%= link_to 'Hyperlocal News Stream', feed_entries_path(:restrict_to => 'hyperlocal_sites') %></p>
<%- form_tag hyperlocal_sites_path, :id => "location_search", :method => :get do -%>
  <h4>Find hyperlocal sites closest to...</h4>
  <%= text_field_tag :location, params[:location], :class => "location_search" %>
  <%= submit_tag "Search", :disable_with => "Please wait..." %>
<%- end -%>

<ul id="hyperlocal_sites">
  <%- if params[:location] -%>
    <%= render :partial => 'hyperlocal_site', :collection => @hyperlocal_sites %>
  <%- else -%>
    <%- @hyperlocal_sites.group_by(&:country).each do |country, sites| -%>
      <li class="country">
        <%= link_to(country, hyperlocal_sites_url(:country => country), :class => 'country') %>
        <ul>
          <%= render :partial => 'hyperlocal_site', :collection => sites %>
        </ul>
      </li>
    <%- end -%>
  <%- end -%>
</ul>

<div id="hyperlocal_sites_google_cse_block" class="search_block">
  <p>
    <strong>Search hyperlocal sites</strong>
      <form id="cref_iframe" action="/hyperlocal_sites/custom_search_results">
      <input type="hidden" name="cref" value="http://openlylocal.com/hyperlocal_sites/custom_search.xml" />
      <input type="hidden" name="cof" value="FORID:11" />
      <input type="text" name="q" size="16" id="google_cse_input"/>
      <input type="submit" name="sa" value="Search" />
    </form>
    <script type="text/javascript" src="http://www.google.com/coop/cse/brand?form=cref_iframe"></script>
  </p>
</div>

<p class='notes'>Want to start a hyperlocal site in your area? See <%= link_to "Talk About Local's guides", 'http://talkaboutlocal.org.uk/', :class => 'external' %> to setting up a hyperlocal site</p>
<p class='notes'>Need to edit, correct or delete an entry? Email <%= mail_to "hyperlocal@openlylocal.com", "hyperlocal@openlylocal.com", :encode => 'javascript' %></p>

<%= render :partial => '/shared/api_info' %>
