<script type="text/javascript" charset="utf-8">
  function initMap() {
    if (GBrowserIsCompatible()) {
      var map = new GMap2(document.getElementById("map_canvas"));
      var lat = <%= (@hyperlocal_site.lat).to_f %>;
      var lng = <%=  (@hyperlocal_site.lng).to_f %>;
      var distance = <%= @hyperlocal_site.distance_covered %>;
      var center = new GLatLng(lat, lng);
      var first_view = true;
      
      map.setCenter(center, 9);
      map.addControl(new GSmallMapControl());
      map.addControl(new GMapTypeControl());
      
      var marker = new GMarker(center);
            
      map.addOverlay(marker);
      drawCircle(map, center, distance);
      
    }
  }
  
</script>
<p class="breadcrumbs"><%= link_to "All HyperLocal Sites", hyperlocal_sites_path %></p>
<div id="general_location">
  <%= content_tag(:span, "#{@hyperlocal_site.region}, ", :class => "region") if @hyperlocal_site.region %>
  <%= content_tag(:span, @hyperlocal_site.country, :class => "country") %>
</div>
<h1><%= @hyperlocal_site.title %></h1>
<div id="hyperlocal_site_map" class="map_outer">
  <div id="map_canvas"></div>
</div>

<div id="description" class="intro">
  <%= simple_format(h(@hyperlocal_site.description)) %>
</div>
<div class="info">
  <dl id="main_attributes" class="attributes">
    <%- attribute_tag :url do -%>
      <%= link_to(@hyperlocal_site.url, @hyperlocal_site.url, :class => "external", :rel => (@hyperlocal_site.approved ? nil : "nofollow")) %>
      <%= link_to("News feed", @hyperlocal_site.feed_url, :class => "feed") unless @hyperlocal_site.feed_url.blank? %>
      <%= link_to("Twitter", "http://twitter.com/#{@hyperlocal_site.twitter_account}", :class => "twitter feed") unless @hyperlocal_site.twitter_account.blank? %>
    <%- end -%>
    <%= attribute_tag :area_covered, "#{@hyperlocal_site.area_covered} (within #{number_with_precision(@hyperlocal_site.distance_covered, :precision => 1)} miles of lat #{number_with_precision(@hyperlocal_site.lat, :precision => 2)}, long #{number_with_precision(@hyperlocal_site.lng, :precision => 2)})" %>
    <%= attribute_tag :group, link_for(@hyperlocal_site.hyperlocal_group) %>
    <%= attribute_tag :platform, @hyperlocal_site.platform %>
    <%= attribute_tag :local_authority_area, basic_link_for(@hyperlocal_site.council) %>
  </dl>
</div>

<%- unless @hyperlocal_site.feed_entries.blank? -%>
  <div id="feed_entries" class="feed_entries">
    <h3>Latest Posts</h3>
    <%= render :partial => 'shared/feed_entry', :collection => @hyperlocal_site.feed_entries %>
  </div>
<%- end -%>


<%= timestamp_data_for @hyperlocal_site %>