<%= error_messages_for :user_submission %>

<% form_for @user_submission, :url => { :action => "create" } do |f| -%>
  <%= f.hidden_field :member_id %>
  
  <%- if @user_submission.member -%>
    <h3>Social networking details for <%= basic_link_for @user_submission.member %></h3>
  <%- else -%>
    <p class='required'>
      <%= f.label :council_id %>
      <%= f.select :council_id, Council.all.collect{ |c| [c.title, c.id] }, { :include_blank => true } %>
    </p>
    
    <%- if @user_submission.council && @user_submission.council.members.size > 0 -%>
    <p class='required'>
      <%= f.label :member_id %>
      <%= f.select :member_id, @user_submission.council.members.all.collect{ |m| [m.title, m.id] }, { :include_blank => true } %>
    </p>
    <%- else -%>
      <p class='required'>
        <%= f.label :member_name %>
        <%= f.text_field :member_name %>
      </p>
    <%- end -%>
  <%- end -%>
  
  <p>
    <%= f.label :twitter_account_name %>
    <%= f.text_field :twitter_account_name %>
  </p>
  <p>
    <%= f.label :blog_url %>
    <%= f.text_field :blog_url %>
  </p>
  <p>
    <%= f.label :facebook_account_name %>
    <%= f.text_field :facebook_account_name %>
  </p>
  <!-- <p>
    <%#= f.label :linked_in_account_name %>
    <%#= f.text_field :linked_in_account_name %>
  </p> -->
  
  <p>
    <%= f.submit "Submit" %>
  </p>
<%- end -%>