			<p>
			  <%= detail_form.label :charity_number %>
			  <%= detail_form.text_field :charity_number %>
			</p>
			<p>
			  <%= detail_form.label :source_for_info, 'Source for info <em>(maybe URL containing charity number)</em>' %>
			  <%= detail_form.text_field :source_for_info %>
			</p>

		  <p>
		    <%= f.label :notes %>
		    <%= f.text_area :notes %>
		  </p>
