<p class='required'>
  <%#= f.label :member_id %>
  <%#= f.select :member_id, @user_submission.council.members.all.collect{ |m| [m.title, m.id] }, { :include_blank => true } %>
</p>
<%#- else -%>
  <p class='required'>
    <%#= detail_form.label :member_name %>
    <%#= detail_form.text_field :member_name %>
  </p>
  <p>
    <%= detail_form.label :twitter_account_name %>
    <%= detail_form.text_field :twitter_account_name %>
  </p>
  <p>
    <%= detail_form.label :blog_url %>
    <%= detail_form.text_field :blog_url %>
  </p>
  <p>
    <%= detail_form.label :facebook_account_name %>
    <%= detail_form.text_field :facebook_account_name %>
  </p>
  <!-- <p>
    <%#= f.label :linked_in_account_name %>
    <%#= f.text_field :linked_in_account_name %>
  </p> -->