  <p>
    <%= detail_form.label :twitter_account_name %>
    <%= detail_form.text_field :twitter_account_name %>
  </p>
  <%#- p @item -%>
  <%- if @user_submission.item.is_a?(Member) -%>
    <p>
      <%= detail_form.label :blog_url %>
      <%= detail_form.text_field :blog_url %>
    </p>
  <%- end -%>
  <%- if @user_submission.item.respond_to?(:website) && @user_submission.item.website.blank? -%>
    <p>
      <%= detail_form.label :website %>
      <%= detail_form.text_field :website %>
    </p>
  <%- end -%>
  <p>
    <%= detail_form.label :facebook_account_name %>
    <%= detail_form.text_field :facebook_account_name %>
  </p>
  <!-- <p>
    <%#= f.label :linked_in_account_name %>
    <%#= f.text_field :linked_in_account_name %>
  </p> -->

<p>
  <%= f.submit "Submit" %>
</p>
