<h1><%= @council ? "Links to #{basic_link_for(@council)} Services" : @title %></h1>
<%= render :partial => 'services_search' if @council %>
<%= content_tag(:p, link_to("Show all services", services_path(:council_id => @council.id))) if params[:term] %>
<%- if @services.blank? -%>
  <p class="alert">Sorry, no services found for <%= basic_link_for @council %></p>
<%- else -%>
  <%- if @council -%>
    <div id="categories">
      <h3>Categories</h3>
      <ul>
        <%- for category in @services -%>
          <li><%= link_to category[0], params.merge(:anchor => category[0].parameterize) %></li>
        <%- end -%>
      </ul>
    </div>
  <%- end -%>
  <div id="services">
    <%- for category in @services -%>
      <%- if @council -%>
        <h3><a name="<%= category[0].parameterize %>"><%= category[0] %></a></h3>
      <%- end -%>
      <ul class="<%= category[0].parameterize %>">
        <%- for service in category[1] -%>
          <li><%= link_to (@council ? service.title : service.council.title), service.url, :class => "external" %></li>
        <%- end -%>
      </ul>  
    <%- end -%>
  </div>
  
<%- end -%>

<%= render :partial => '/shared/api_info' %>
