<html>
<head>
  <style type="text/css">
  body { margin: 1em; color: #0d0d0d; font-size: 75%; font-family: "Helvetica Neue", "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;}
  p, ul, h4 {margin:0.25em 0 ;}
  div.new, .changed {
  	border:1px solid #DDDDDD;
  	margin-bottom:1em;
  	padding:0.6em;
  	}
  .changed {
  	background:#FFF6BF;
  	border-color:#FFD324;
  	}
  div.new {
  	background:#E6EFC2;
  	border-color:#C6D880;
  	}
  div.unchanged {
  	margin-bottom: .5em; }
  .unchanged, .unchanged a {
  	color: #515151; }
  .unchanged h4 { 
  	color: #282828;
  	margin-bottom: 0; }
  span.flash {
  	border:none;
  	color:#fff;
  	padding: 3px 6px;
  	float:right; }	
  span.new {
  	background-color:#264409; }	
  span.changed {
  	background-color:#514721; }	
  span.errors {
  	background-color:#8a1f11; }	
  </style>
</head>
<body>
  <h1><%= @scraper.title %></h1>
    <%= error_messages_for :scraper %>
    <%= error_messages_for :parser, :header_message => "Problem parsing scraped page", :message => "The following problems occurred:" %>

    <div id="results">
      <h3>Scraping Results: <%= @scraper.results.size %> records found</h3>
      <%- for result in @scraper.results -%>
        <%= render :partial => 'scrapers/scraped_object', :object => result %>
      <%- end -%>
    </div> 

</body>
</html>