<%- div_for @meeting do -%>
  <%= content_tag(:h4, "Meeting Cancelled", :class => "alert") if @meeting.cancelled? %>
  <h4 class="owner">Meeting of the <%= basic_link_for @council %></h4>
  <h1><%= link_for @committee %>, <%= @meeting.date_held.to_s(:event_date).squish %> <em><%= council_page_for @meeting %></em></h1>

  <p class="extra_info">
    <strong>Venue </strong><%= @meeting.venue.blank? ?  "Not known" : @meeting.venue %> :: 
     <%= link_to "Committee details", @committee %> :: 
     Other <%= link_to "meetings", meetings_path(:council_id => @council.id) %>/<%= link_to "committees", committees_path(:council_id => @council.id) %> for <%= basic_link_for @council %>
  </p>
  <%- if @meeting.minutes -%>
    <div id="minutes_extract">
      <h3><%= link_to "Minutes", @meeting.minutes, :rel => "twfy:minutes" %></h3>
      <div class="document_body">
        <%= simple_format @meeting.minutes.precis %>
        <p class='more_info'><%= link_to("Complete Minutes", @meeting.minutes, :rel => "twfy:minutes") %></p>
      </div>
    </div>
  <%- end -%>
  <div id="committee_members" class="item_grouping" about="<%= committee_path(@committee) %>">
    <h3>Members of this committee</h3>
    <%= list_all @committee.members %>
  </div>
  <div id="other_meetings" class="item_grouping">
    <h3>Other meetings of this committee</h3>
    <%= list_all @other_meetings, :rel => "openlylocal:meeting" %>
  </div>
  <%= render :partial => '/shared/api_info' %>
  <%= timestamp_data_for @meeting %>
<%- end -%>