<% form_for :scraper, @scraper, :url => (@scraper.new_record? ? scrapers_path : scraper_path(@scraper)), :html => { :method => (@scraper.new_record? ? :post : :put)} do |f| -%>
  <%= hidden_field_tag :type, @scraper.class.to_s %>

	<%- if @scraper.council -%>
		<%= f.hidden_field :council_id %>
	<%- else -%>
		<p>
			<%= f.label :council_id %>
	    <%= f.select("council_id", Council.all.collect{ |c| [c.title,c.id] }, { :include_blank => true }) %>
		</p>
	<%- end -%>
  <p>
    <%= f.label :problematic, "Problematic <em>(this is set when there have been problems running this scraper)</em>" %>
    <%= f.check_box :problematic %>
  </p>
  <p>
    <%= f.label :url, "Url to be scraped" %>
    <%= f.text_field :url, :size => 60 %><br />
    <%- if @scraper.is_a?(InfoScraper) -%>
      <%= content_tag(:p, "NB: Will use object's url by default", :class => "faint", :id => "scraper_default_url") %>
    <%- else -%>
      <%= content_tag(:p, "Will use #{link_to(@scraper.computed_url, @scraper.computed_url, :class => 'external')} by default", :class => "faint", :id => "scraper_default_url") if @scraper.computed_url %>
    <%- end -%>
  </p>
  <p>
    <%= f.label :referrer_url, "Referrer url <em>Can nearly always be left blank</em>" %>
    <%= f.text_field :referrer_url %><br />
  </p>
  <p>
    <%= f.label :cookie_url, "Cookie url <em>Can nearly always be left blank</em>" %>
    <%= f.text_field :cookie_url %><br />
  </p>
  <p>
    <%= f.label :use_post, "Use POST request?" %>
    <%= f.check_box :use_post %>
  </p>
  <%- if @scraper.portal_parser? && !params[:dedicated_parser] -%>
    <%= f.hidden_field :parser_id %>
    <%= render :partial => (@scraper.is_a?(CsvScraper) ? '/parsers/csv_parser' : '/parsers/parser'), :object => @scraper.parser %>
    <p><%= link_to "Use dedicated parser instead", params.merge(:dedicated_parser => true), {:class => "alert"} %></p>
  <%- elsif @scraper.portal_parser? && params[:dedicated_parser] -%>
    <p class="alert">
      <%= link_to "Use existing parser for #{@scraper.portal_system.name}", params.merge(:dedicated_parser => false) %>
    </p>      
  <%- elsif @scraper.portal_system && @scraper.parser.new_record? -%>
    <p class="alert">No parser written yet to parse this. 
    <%= link_to "Add new parser for #{@scraper.portal_system.name}", new_parser_path(:portal_system_id => @scraper.portal_system.id, :result_model => @scraper.result_model, :scraper_type => @scraper.class.to_s) %>
    or use dedicated parser for this council only:</p>      
  <%- elsif !@scraper.portal_parser? -%>
    <div class="use_portal_systems">
      <p class="alert"><a href='#' class='toggle_visibility'>Use existing dedicated parser</a></p>
      <ul style='display:none' class='toggle'>
        <%- PortalSystem.all.each do |portal_system| -%>
          <li><%= link_to portal_system.name, params.merge(:portal_system_id => portal_system.id) %></li>
        <%- end -%>
      </ul>
    </div>      
  <%- end -%>
  <%- if !@scraper.portal_parser? || params[:dedicated_parser]-%>
    <fieldset id="parser_details" %>
      <legend>Parser details</legend>
      <% f.fields_for :parser, (@scraper.portal_parser? ? Parser.new(:result_model => params[:result_model], :scraper_type => @scraper.class.to_s) : @scraper.parser) do |pf| %>
        <%= pf.hidden_field :scraper_type %>
        <%= pf.hidden_field :type %>
        <p>
          <%= pf.label :result_model, "Result Model <em>Kind of object you're scraping for</em>" %>
          <%= pf.select("result_model", Parser::ALLOWED_RESULT_CLASSES.collect{ |c| [c,c] }, { :include_blank => true }) %>
        </p>
        <%- if @scraper.is_a?(ItemScraper) -%>
          <p>
            <%= pf.label :related_model, "Related model <em>optional</em>" %>
            <%= pf.select("related_model", Parser::ALLOWED_RESULT_CLASSES.collect{ |c| [c,c] }, { :include_blank => true }) %>
          </p>
        <%- end -%>
        <p>
          <%= pf.label :description, "Parser Description" %>
          <%= pf.text_field :description %>
        </p>
				<%- if @scraper.parser.is_a?(CsvParser) -%>
					<p>
				    <%= pf.label :skip_rows, "Number of rows to skip (leave blank for none) " %>
				    <%= pf.text_field :skip_rows %>
				  </p>
			  <%- else -%>
	        <p>
	          <%= pf.label :item_parser %>
	          <%= pf.text_area :item_parser, :rows => 3 %>
	        </p>
				<%- end -%>
        <div id="parser_attribute_parser">
          <h3>Attribute parser (NB headings will have extra spaces removed and converted to lower-case)</h3>
					<%- partial_attribs = @scraper.parser.kind_of?(CsvParser) ? 
											{ :partial => 'csv_parser_attrib_fields', :collection => @scraper.parser.attribute_mapping_object } : 
											{ :partial => 'parser_attrib_fields', :collection => @scraper.parser.attribute_parser_object } -%>
			    <%= render partial_attribs %>
        </div>
        <br class="clear-left">
        <p>
          <%= link_to "add more attributes", '#', :class => "add_more_attributes" %>
        </p>
      <% end %>
    </fieldset>
  <%- end -%>
  <p>
    <%= f.label :notes, "Notes <em>e.g. how parser or URL differs from normal</em>" %>
    <%= f.text_area :notes %>
  </p>
  <%= f.submit "Submit" %>
<% end -%>
<div style="display:none">
  <%= render :partial => 'parser_attrib_fields', :object => AttribObject.new unless @scraper.parser.kind_of?(CsvParser) %>
  <%= render :partial => 'csv_parser_attrib_fields', :object => MappingObject.new if @scraper.parser.kind_of?(CsvParser)%>
</div>
