<h1>Scrapers</h1>
<div id="scrapers">
  
  <div id="without_scrapers">
    <h3>Councils without scrapers</h3>
    <%- for council in @councils_without_scrapers -%>
      <%- div_for council do -%>
        <h4><%= basic_link_for council, :name => dom_id(council) %></h4>
        <p>
          <%= "<strong>Portal System</strong> #{link_for(council.portal_system)}<br />" if council.portal_system %>
          <%= council_page_for council %> :: 
          <%= link_to "edit", edit_council_path(council) %> :: <%= link_to "Add scrapers", "#", :class => "add_new_scraper" %>
        </p>
				<ul></ul>
      <%- end -%>
    <%- end -%>
  </div>

  <div id="with_scrapers">
    <%- for council in @councils_with_scrapers -%>
      <%- div_for council do -%>
        <h3>
          <%= basic_link_for council, :name => dom_id(council) %> 
          <em>
            <%= council_page_for council %> 
            :: <%= link_to "edit", edit_council_path(council) %>
            :: <%= link_to "Add scrapers", "#", :class => "add_new_scraper" %>
					  <%= ":: <strong>Portal System</strong> #{link_for(council.portal_system)}" if council.portal_system %>
          </em>
        </h3>
        <p> 
				</p>
				
        <ul>
          <%- for scraper_link in existing_scraper_links(council) -%>
            <li><%= scraper_link %></li>
          <%- end -%>
        </ul>
      <%- end -%>
    <%- end -%>
  </div>

</div>
