<h1>Scraper details</h1>
<div id="other_scrapers">
  <h4>Other scrapers for this council</h4>
  <%= list_all @scraper.sibling_scrapers %>
</div>
<p><%= link_to "#{@scraper.council.name} scrapers", scrapers_path(:anchor => dom_id(@scraper.council)) %> :: <%= link_to "All scrapers", scrapers_path %></p>
<div id="scraper">
  
  <%= content_tag(:p, "This scraper is problematic, and will not be automatically be run again until it is fixed", :class => "error") if @scraper.problematic? %>
  <div id="core_info">
    <h3><%= @scraper.class %></h3>
    <p>
      <strong>for</strong> <%= link_to "#{@scraper.council.name}", council_path(@scraper.council) %><br />
      <strong>scraping for</strong> <%= @scraper.scraping_for %>
    </p>
    <%= render :partial => "/parsers/#{@scraper.parser.class.to_s.underscore}", :object => @scraper.parser if @scraper.parser %>
    
  </div>
  <div class="notes">
    <h4>Notes</h4>
    <%= simple_format @scraper.notes %>
    
    <p><strong>Referrer url</strong> <%= @scraper.referrer_url || "none" %></p>
    <p><strong>Cookie url</strong> <%=  @scraper.cookie_url ? link_to(@scraper.cookie_url, @scraper.cookie_url) : "none" %></p>
    
  </div> 
  <p>
    <strong>Last scraped</strong> <%= @scraper.last_scraped %><br />
    <strong>Last updated</strong> <%= @scraper.updated_at %></p>
  <div>
    <%= link_to "edit", edit_scraper_path(@scraper), :class => "button" %> 
    <%= button_to "destroy", {:action => :destroy, :id => @scraper}, :method => :delete, :confirm => 'Are you sure?' %> 
    <%= button_to "perform test scrape", :action => :scrape, :id => @scraper, :dry_run => true %>
    <%= button_to "process IMMEDIATELY", :action => :scrape, :id => @scraper, :process => "immediately" %>
    <%= button_to "process", :action => :scrape, :id => @scraper, :process => "queue" %>
  </div>
</div>
<%- if @results -%>
  <%= error_messages_for :scraper, :header_message => "Problems processing this scraper" %>
  <%= error_messages_for :parser, :header_message => "Problem parsing scraped page", :message => "The following problems occurred:" %>
  
  <div id="results">
    <h3>Completed <%= params[:dry_run] ? "Test Scrape" : "Processing" %>: <%= @results.size %> records found</h3>
    <%- unless @scraper.results_summary.blank? -%>
      <p id="results_summary" class="alert">
        <%= @scraper.results_summary %>
      </p>
    <%- end -%>
    <%- for result in @results -%>
      <%= render :partial => 'scraped_object', :object => result %>
    <%- end -%>
  </div> 
  
<%- end -%>
