<h1><%= link_to 'Scraper details', scraper_path(@scraper) %></h1>
<div id="other_scrapers">
  <h4>Other scrapers for this council</h4>
  <%= list_all @scraper.sibling_scrapers %>
</div>
<p><%= link_to "#{@scraper.council.name} scrapers", scrapers_path(:anchor => dom_id(@scraper.council)) %> :: <%= link_to "All scrapers", scrapers_path %></p>
<div id="scraper">
  
  <%= content_tag(:p, "This scraper is problematic, and will not be automatically be run again until it is fixed", :class => "error") if @scraper.problematic? %>
  <div id="core_info">
    <h3><%= @scraper.class %></h3>
    <p>
      <strong>for</strong> <%= link_to "#{@scraper.council.name}", council_path(@scraper.council) %><br />
      <strong>scraping for</strong> <%= @scraper.scraping_for %>
    </p>
    <%= render :partial => "/parsers/#{@scraper.parser.class.to_s.underscore}", :object => @scraper.parser if @scraper.parser %>
    
  </div>
  <div class="notes">
    <h4>Notes</h4>
    <%= simple_format @scraper.notes %>
    <ul>
      <li>Base URL <strong><%= @scraper.base_url %></strong> <%= '(delegated from council)' if @scraper.base_url? & @scraper[:base_url].blank? %></li>
      <li>Parsing library <strong><%= Scraper::PARSING_LIBRARIES[@scraper.parsing_library] %></strong></li>
      <li>Referrer url <strong><%= @scraper.referrer_url? || "none" %></strong></li>
      <li>Make POST request <strong><%= @scraper.use_post %></strong></li>
      <li>Run every <strong><%= @scraper.frequency %> days</strong></li>
      <li>Priority <strong><%= @scraper.priority %></strong></li>
      <li>Cookie url <strong><%=  @scraper.cookie_url? ? link_to(@scraper.cookie_url, @scraper.cookie_url) : "none" %></strong></li>
    </ul>
  </div> 
  <p>
    <strong>Next due</strong> <%= @scraper.next_due %><br />
    <strong>Last updated</strong> <%= @scraper.updated_at %></p>
  <div>
    <%= link_to "edit", edit_scraper_path(@scraper), :class => "button" %> 
    <%= button_to "destroy", {:action => :destroy, :id => @scraper}, :method => :delete, :confirm => 'Are you sure?' %> 
    <%= button_to "perform test scrape", :action => :scrape, :id => @scraper, :dry_run => true %>
    <%= button_to "process IMMEDIATELY", :action => :scrape, :id => @scraper, :process => "immediately" %>
    <%= button_to "process", :action => :scrape, :id => @scraper, :process => "queue" %>
  </div>
</div>
<%- unless @scrapes.blank? -%>
  <div id="scrapes">
    <h3>Last <%= @scrapes.size %> scrapes</h3>
    <%- @scrapes.each do |scrape| -%>
      <%- div_for scrape do -%>
        <p id="results_summary">
          <strong><%= scrape.created_at.to_s(:custom_short) %></strong> <%= link_to( scrape.results_summary||'No results', '#', :class => 'toggle_visibility') %>
        </p>
        <div class="scraping_results toggle" style="display:none">
          <div class="results">
            <%- scrape.results.each do |result| -%>
              <%= render :partial => 'scraped_object', :object => result if result.is_a?(ScrapedObjectResult)%>
            <%- end -%>
          </div>
          <div class="errors">
            <%- unless scrape.scraping_errors.blank? -%>
              <%- scrape.scraping_errors.full_messages.each do |error| -%>
                <div class="error">
                  <%= error %>
                </div>
              <%- end -%>
            <%- end -%>
          </div>
        </div>
      <%- end -%>
    <%- end -%>
  </div>
<%- end -%>

<%- if @results -%>
  <%= error_messages_for :scraper, :header_message => "Problems processing this scraper" %>
  <%= error_messages_for :parser, :header_message => "Problem parsing scraped page", :message => "The following problems occurred:" %>
  
  <div id="results">
    <h3>Completed <%= params[:dry_run] ? "Test Scrape" : "Processing" %>: <%= @results.size %> records found</h3>
    <%- unless @scraper.results_summary.blank? -%>
      <p id="results_summary" class="alert">
        <%= @scraper.results_summary %>
      </p>
    <%- end -%>
    <%- for result in @results -%>
      <%= render :partial => 'scraped_object', :object => result %>
    <%- end -%>
  </div> 
  
<%- end -%>
