<%= render :partial => 'shared/experimental_flash' %>
<h1><%= @title %></h1>

<dl id="main_attributes" class="attributes">
  <%= attribute_tag :originator, link_to(@dataset.originator, @dataset.originator_url, :class => 'external') %>
  <%= attribute_tag :source, link_to(@dataset.url, @dataset.url, :class => 'external') %>
</dl>
<%- unless @area -%>
  <div id="relationships">
    <h3>Categories for this dataset</h3>
    <%= list_all @dataset.dataset_families %>
  </div>
<%- end -%>
<%- unless @datapoints.blank? -%>
  <%= statistics_table @datapoints, :caption => @table_caption, :description => @statistics_table_description, :source => [@dataset], :show_total => true %>
<%- end -%>

<%= timestamp_data_for @dataset %>