<h1>Admin area</h1>
<h3>Common Actions</h3>
<ul>
  <li><%= link_to "All scrapers", scrapers_path %></li>
  <li><%= link_to "All councils (including unparsed)", councils_path(:include_unparsed => true) %></li>
</ul>

<div id="user_submissions" class='item_grouping'>
  <h3>User Submissions</h3>
  <ul>    
    <%= render :partial => 'user_submission', :collection => @user_submissions %>
  </ul>
</div>

<div id="council_contacts" class='item_grouping'>
  <h3>Unapproved Council Contacts</h3>
  <ul>
    <%- @unapproved_contacts.each do |contact| -%>
      <li>
        <strong><%= basic_link_for contact.council %></strong>
        <%= council_page_for contact.council %>
        <strong><%= contact.name %></strong>
        (<%= contact.position %>)
        <%= mail_to contact.email %>
      </li>
    <%- end -%>
  </ul>
</div>
<br class='clear' />
<div id="hyperlocal_sites">
  <h3>Unapproved <%= link_to "Hyperlocal Sites", hyperlocal_sites_path %></h3>

  <ul id="hyperlocal_sites">
    <%- @hyperlocal_sites.each do |site| -%>
      <li>
        <strong><%= link_for site %></strong>
        <%= link_to site.url, site.url, :class => "external", :rel => 'nofollow' %>
        <%= link_to "edit", edit_hyperlocal_site_path(site), :class => "edit button" %>
        <%= button_to "Delete", hyperlocal_site_path(site), :confirm => "Are you sure?", :method => :delete %>
      </li>
    <%- end -%>
  </ul>
</div>
<div id="councils_without_wards">
  <h3>Councils Without Wards</h3>
  <ul>
    <%- Council.without_wards.each do |council| -%>
      <li>
        <strong><%= basic_link_for council %></strong>
        <%= link_to council.url, council.url, :class => 'external' %>
        <%= link_to "#{council.name} scrapers", scrapers_path(:anchor => dom_id(council)) %>
        <strong>SNAC id:</strong> <%= link_to(council.snac_id, "http://statistics.data.gov.uk/doc/local-authority/#{council.snac_id}", :class => "external") unless council.snac_id.blank? %>
      </li>
    <%- end -%>
  </ul>
</div>
