<%= error_messages_for :entity %>

<% form_for @entity do |f| -%>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :website %>
    <%= f.text_field :website %>
  </p>
  <p>
    <%= f.label :entity_type %>
    <%= f.select :entity_type, Entity::PossibleTypes.to_a.collect(&:reverse), { :include_blank => true } %>
  </p>
  <p>
    <%= f.label :entity_subtype %>
    <%= f.text_field :entity_subtype %>
  </p>
  <p>
    <%= f.label :sponsoring_organisation %>
    <%= f.text_field :sponsoring_organisation %>
  </p>
  <p>
    <%= f.label :setup_on %>
    <%= f.text_field :setup_on %>
  </p>
  <p>
    <%= f.label :disbanded_on %>
    <%= f.text_field :disbanded_on %>
  </p>
  <p>
    <%= f.label :wdtk_name, "WhatDoTheyKnow name" %>
    <%= f.text_field :wdtk_name %>
  </p>
  <p>
    <%= f.label :wikipedia_url %>
    <%= f.text_field :wikipedia_url %>
  </p>

  <p>
    <%= f.submit "Submit" %>
  </p>
<% end -%>
