<li>
<%= status_flash(list_item.application_status, :class => list_item.normalised_application_status) %>
  <span class='date'><%= list_item.start_date %></span>
  <strong class='description'><%= truncate(list_item.description, :length => 100) %></strong> 
  <%= link_for list_item, list_options.merge(:text => "#{list_item.address[0..30]}...") %>
  <%= council_page_for(list_item) %>
    
</li>
