<script type="text/javascript" charset="utf-8">
  <%- @lat_lon_pas = @planning_applications&&@planning_applications.select{|pa| pa.lat&&pa.lng} -%>
  var planning_apps = <%= !@lat_lon_pas.blank? && @lat_lon_pas.to_json %>;
  var loc = <%= @postcode ? @postcode.to_json : false %>;
  
  function initMap() {
    if (planning_apps&&GBrowserIsCompatible()) {
      var map = new GMap2(document.getElementById("map_canvas"));
      // var center = new GLatLng(loc.lat, loc.lng);
      // map.setCenter(center, 6); //set default centre
      var center = new GLatLng(54.3, -3);
      map.setCenter(center, 6); //set default centre
      
      var first_view = true;
      var bounds = new GLatLngBounds(); //set bounding area
      map.addControl(new GSmallMapControl());
      map.addControl(new GMapTypeControl());
      for (var i=0; i < planning_apps.length; i++) {
        var pa = planning_apps[i].planning_application
        var m = createMarker(pa, map, planningAppCaption(pa));
        map.addOverlay(m);
        bounds.extend(m.getLatLng());
      };
      // var center = bounds.getCenter();
      map.setZoom(map.getBoundsZoomLevel(bounds));
      // map.setCenter(center, 6); //set default centre
      map.setCenter(bounds.getCenter());
      if(loc){
        map.setCenter(bounds.getCenter());
      };
    }
  }
  
</script>
<h1><%= @title %></h1>
<%- unless @lat_lon_pas.blank? -%>
<div id="planning_applications_map" class="map_outer">
  <div id="map_canvas"></div>
</div>
<%- end -%>
<div id="planning_applications">
  <%= render :partial => "planning_application", :collection => @planning_applications %>
</div>

<%= will_paginate @planning_applications, :page_links => false if @planning_applications.respond_to?(:total_pages) %>


<%= render :partial => '/shared/api_info' %>
