<%= render :partial => 'shared/map_object', :object => @planning_application %>

<div class="breadcrumbs"><%#= link_to "All Local Authority Pension Funds", pension_funds_path %></div>
<h1><%= @title %></h1>
<div id="planning_application_map" class="map_outer">
  <div id="map_canvas"></div>
</div>

<dl id="main_attributes" class="attributes">
  <%= attribute_tag :council, link_for(@council) %>
  <%= attribute_tag :council_reference, @planning_application.council_reference %>
  <%= attribute_tag :address, @planning_application.address %>
  <%= attribute_tag :application_url, link_to(@planning_application.url, @planning_application.url) if @planning_application.url? %>
  <%= attribute_tag(:location, link_to("#{@planning_application.lat}, #{@planning_application.lng}", "http://maps.google.co.uk/maps?q=#{@planning_application.lat},+#{@planning_application.lng}&iwloc=A&hl=en", :target => "blank", :class => "external"), :text => "Location (from postcode)") unless @planning_application.lat.blank? %>

</dl>

<%- unless @planning_application.description.blank? -%>
  <div class="extra_info">
    <h3>Description</h3>
    <%= simple_format(@planning_application.description) %>
  </div>
<%- end -%>

<%#= timestamp_data_for @planning_application %>