<%- div_for @planning_application, :class => 'vcard' do -%>
  <%= render :partial => 'shared/planning_alerts_alert' %>
  <div class="breadcrumbs"><%= link_to "#{@council.name} planning applications", { :action => 'index', :council_id => @council.id } %></div>
  <h1><%= @title %></h1>
  <%= render :partial => 'shared/map_object', :object => @planning_application if @planning_application.lat? %>

  <div id='description'><%= simple_format(@planning_application.description) %></div>

  <dl id="main_attributes" class="attributes">
    <%= attribute_tag :council, link_for(@council) %>
    <%= attribute_tag :council_reference, @planning_application.council_reference %>
    <%= attribute_tag :address, @planning_application.address %>
    <%#= attribute_tag :postcode, link_to(@planning_application.postcode, planning_applications_path(:postcode => @planning_application.postcode)) if @planning_application.postcode? %>
    <%= attribute_tag :application_url, link_to(@planning_application.url, @planning_application.url, :class => 'external') if @planning_application.url? %>
    <%= attribute_tag(:location, link_to("#{@planning_application.lat}, #{@planning_application.lng}", "http://maps.google.co.uk/maps?q=#{@planning_application.lat},+#{@planning_application.lng}&iwloc=A&hl=en", :target => "blank", :class => "external"), :text => "Location (from postcode)") unless @planning_application.lat.blank? %>
    <%= attribute_tag :status, @planning_application.status %>
    <%= attribute_tag :decision, @planning_application.decision %>
    <%= attribute_tag :applicant_name, javascript_obfuscate(@planning_application.applicant_name) %>
    <%= attribute_tag :applicant_address, @planning_application.applicant_address %>
    <%= attribute_tag :start_date, @planning_application.start_date %>
    <%= attribute_tag :comment_url, link_to(@planning_application.comment_url, @planning_application.comment_url, :class => 'external') if @planning_application.comment_url? %>

  </dl>

  <%- unless @planning_application.other_attributes.blank? || @planning_application.other_attributes.all?{ |k,v| v.blank? }-%>
    <div class="extra_info">
      <h3>Further details</h3>
        <dl id="other_attributes" class="attributes">
          <%- @planning_application.other_attributes.each do |attrib_name, attrib_value| -%>
            <%= attribute_tag attrib_name, attrib_value %>
          <%- end -%>
        </dl>
      </div>
  <%- end -%>
  
  <%= render :partial => 'shared/api_info' %>

  <%= timestamp_data_for @planning_application %>
<%- end -%>