<p class= 'breadcrumbs'>See also <%= link_to 'Open Data Scoreboard', {:controller => 'councils', :show_open_status => true}, {:title => 'Open Data Scoreboard'} %></p>
<div id="1010_dashboard">
  <%- councils_with_status = @councils.group_by(&:signed_up_for_1010) -%>
  <h1><%= @title %></h1>
	<div class="dashboard">
	  <div id="statistics">
	    <%= image_tag(Gchart.pie(:data => [[councils_with_status[true]].flatten.compact.size, [councils_with_status[false]].flatten.compact.size], :encoding => 'text', :legend => %w(signed_up not_signed_up).collect(&:titleize), :bar_colors => ['003366', 'a9c0db'], :background => 'eeeeee', :size => "290x120"), :class => "chart", :alt => "1010 signed_up dashboard graph: #{[[councils_with_status[true]].flatten.compact.size, [councils_with_status[false]].flatten.compact.size].inspect}") %>
	    <div class='in_words'>
	      <span class='value open'><%= [councils_with_status[true]].flatten.nitems.to_i %></span> out of 
				<span class='value not_open'><%= @councils.size %></span> <span class='description'>local authorities have signed up for <a href="http://www.1010global.org/" title="10:10">10:10</a>
				</span>
	    </div>
	  </div>
	</div>
	
  <div id='signed_up' class='open_data_council_grouping'>
    <h2>Councils committed to reducing carbon emissions by 10% starting in 2010</h2>
    <%- if councils_with_status[true].blank? -%>
      <p class="alert">No councils found</p>
    <%- else -%>
      <%= render :partial => 'council', :collection => councils_with_status[true] %>
    <%- end -%>
  </div>

  <div id='not_signed_up' class='open_data_council_grouping'>
    <h2>Councils NOT committed to reducing carbon emissions by 10% starting in 2010</h2>
    <%- if councils_with_status[false].blank? -%>
      <p class="alert">No councils found</p>
    <%- else -%>
      <%= render :partial => 'council', :collection => councils_with_status[false] %>
    <%- end -%>
  </div>

  <%= render :partial => '/shared/api_info' %>
</div>