<div id="data">
  <h1><%= @council.name %></h1>
  <%= render :partial => 'party_breakdown' unless @party_breakdown.blank? %>
  <dl id="main_attributes" class="attributes">
    <%- attribute_tag :website do -%>
      <%= link_to @council.url, @council.url, :class => :external %> <%= link_to("News feed", @council.feed_url, :class => "feed") if @council.feed_url %>
    <%- end -%>
    <%- attribute_tag :authority_type do -%>
      <%= @council.authority_type %> <%= help_link_to(@council.authority_type_help_url) %>
    <%- end -%>
    <div id="associated_councils">
        <%= attribute_tag :district_councils, @council.child_authorities.collect{ |c| basic_link_for c }.join(", ") %>
        <%= attribute_tag :county_council, basic_link_for(@council.parent_authority) %>
    </div>
    <%= attribute_tag :address, @council.address %>
    <%= attribute_tag( :telephone, content_tag(:span, @council.telephone, :about => @council.foaf_telephone)) unless @council.telephone.blank? %>
    <%= attribute_tag :chief_executive, @council.chief_executive.try(:full_name) %>
    <%- attribute_tag :population do -%>
      <%= @council.population ? number_with_delimiter(@council.population) : "not known" %> <span class="source attribution">(Source: <%= link_to "ONS Crown Copyright", "http://www.statistics.gov.uk/downloads/theme_population/Mid_2008_UK_England_&_Wales_Scotland_and_Northern_Ireland_27_08_09.zip", :class => "external" %>)</span>
    <%- end -%>
    <%= attribute_tag :wikipedia_url, link_to(@council.wikipedia_url, @council.wikipedia_url, :class => 'external') %>
  </dl>
  <div class="extra_info">
    <h3>Other info</h3>
    <div id="external_links" class="item_grouping">
      <h4>External links</h4>
      <ul>
        <%- unless @council.wdtk_name.blank? -%>
          <li><%= link_to "WhatDoTheyKnow.com FoI requests", "http://www.whatdotheyknow.com/body/#{@council.wdtk_name}", :class => 'external', :rel => "openlylocal:foi-data" %> (<%= link_to "feed", "http://www.whatdotheyknow.com/feed/body/#{@council.wdtk_name}", :class => "feed" %>)</li>
        <%- end -%>
        <%- unless @council.police_neighbourhood_url.blank? -%>
          <li><%= link_to "Local Police website", @council.police_neighbourhood_url, :class => 'external' %></li>
        <%- end -%>
        <li><%= link_to "Office for National Statistics page", @council.ons_url, :class => 'external' %></li>
        <li><%= link_to "eGovernment Register page", "http://www.brent.gov.uk/egr.nsf/laref/#{@council.egr_id}", :class => 'external' %></li>
        <li><%= link_to "ONS SNAC ID", "http://www.ons.gov.uk/about-statistics/geography/products/geog-products-area/snac/index.html", :class => 'external' %>: <%= link_to(@council.snac_id, "http://statistics.data.gov.uk/doc/local-authority/#{@council.snac_id}", :class => "external") unless @council.snac_id.blank? %> </li>
      </ul>
    </div>
    <div id="statistics" class="item_grouping">
      <%= render :partial => 'datapoints' unless @datapoints.blank? %>
    </div>
    <%- unless @council.services.count < 10  -%>
      <div id="council_services" class="item_grouping">
        <h4><%= link_to "Online services", services_path(:council_id => @council.id) %></h4>
        <%= render :partial => 'services/services_search' %>
        <p><%= link_to "See full list", services_path(:council_id => @council.id) %></p>
      </div>
    <%- end -%>
  </div>
</div>

<div id="members" class="item_grouping">
  <h3>Current councillors</h3>
  <%= list_all @members %>
</div>

<div id="committees" class="item_grouping">
  <h3><%= link_to "Council Committees", committees_path(:council_id => @council.id) %></h3>
  <p>Showing only currently active committees. <em><%= link_to "Include inactive committees", committees_path(:council_id => @council.id, :include_inactive => true) %></em></p>
  <%= list_all @committees, :rel => "openlylocal:committee" %>
</div>
<div id="wards" class="item_grouping">
  <h3><%= "Wards" %></h3>
  <%= list_all @wards %>
</div>
<div id="meetings" class="item_grouping">
  <h3><%= link_to "Forthcoming Committee Meetings", meetings_path(:council_id => @council.id) %></h3>
  <p><%= link_to_calendar(:controller => "meetings", :council_id => @council.id) %></p>
  <%= list_all @meetings[0..9] %>
  <%= content_tag(:p, link_to("See more", meetings_path(:council_id => @council.id)), :class => "more_info") if @meetings.size > 10 %>
</div>
<div id="documents" class="item_grouping">
  <h3><%= link_to "Committee Documents", documents_path(:council_id => @council.id) %></h3>
  <%= list_all @documents[0..9], :rel => "openlylocal:committee", :extended => true %>
  <%= content_tag(:p, link_to("See more", documents_path(:council_id => @council.id)), :class => "more_info") if @documents.size > 10 %>
</div>
<%= render :partial => '/shared/api_info' %>
<%= content_tag(:p, auto_link("Data sourced from #{@council.data_source_url} provided by #{@council.data_source_name}"), :class => "attribution") unless @council.data_source_url.blank? %>
<%= timestamp_data_for @council %>
