<h1 property="foaf:name rdfs:label"><%= @council.name %></h1>
<div id="data">
  <p class="attribute"><strong>website</strong> <%= link_to @council.url, @council.url, :class => :external, :rel => "foaf:homepage" %> <%= link_to("News feed", @council.feed_url, :class => "feed") if @council.feed_url %></p>
  <p class="attribute" rel="rdf:type"><strong>Authority type</strong> <span about="[twfyl:<%= @council.authority_type.gsub(/\s+/,'') %>Authority]"><%= @council.authority_type %></span> <%= wikipedia_help_link(@council.authority_type_help_url) %></p>
  <p class="attribute"><strong>Address</strong> <span property="twfyl:full-address"><%= @council.address %></span></p>
  <p class="attribute" rel="foaf:phone"><strong>Telephone</strong> <%= content_tag(:span, @council.telephone, :about => @council.foaf_telephone) unless @council.telephone.blank? %></p>
  <p class="clear"><strong>Wikipedia page</strong> <%= link_to @council.wikipedia_url, @council.wikipedia_url, :class => 'external', :rel => "foaf:page" %></p>
  <div class="extra_info">
    <h3>Other info</h3>
    <div id="external_links" class="item_grouping">
      <h4>External links</h4>
      <ul>
        <%- unless @council.wdtk_name.blank? -%>
          <li><%= link_to "WhatDoTheyKnow.com FoI requests", "http://www.whatdotheyknow.com/body/#{@council.wdtk_name}", :class => 'external', :rel => "twfyl:foi-data" %> (<%= link_to "feed", "http://www.whatdotheyknow.com/feed/body/#{@council.wdtk_name}", :class => "feed" %>)</li>
        <%- end -%>
        <li><%= link_to "Office for National Statistics page", @council.ons_url, :class => 'external', :rel => "foaf:page" %></li>
        <li><%= link_to "eGovernment Register page", "http://www.brent.gov.uk/egr.nsf/laref/#{@council.egr_id}", :class => 'external', :rel => "foaf:page" %></li>
        <li><%= link_to "ONS SNAC ID", "http://www.ons.gov.uk/about-statistics/geography/products/geog-products-area/snac/index.html", :class => 'external' %>: <%= @council.snac_id %></li>
      </ul>
    </div>
    <!-- <div class="notes">
      <h4>Notes</h4>
      <%#= simple_format @council.notes %>
    </div>  -->
    <div id="statistics" class="item_grouping">
      <%= render :partial => 'datapoints' unless @datapoints.blank? %>
    </div>
  </div>
</div>

<div id="members" class="item_grouping">
  <h3>Current councillors</h3>
  <%= list_all @members %>
</div>

<div id="committees" class="item_grouping">
  <h3><%= link_to "Council Committees", committees_path(:council_id => @council.id) %></h3>
  <%= list_all @committees, :rel => "twfyl:committee" %>
</div>
<div id="wards" class="item_grouping">
  <h3><%= "Wards" %></h3>
  <%= list_all @wards %>
</div>
<div id="meetings" class="item_grouping">
  <h3><%= link_to "Forthcoming Committee Meetings", meetings_path(:council_id => @council.id) %></h3>
  <p><%= link_to_calendar(:controller => "meetings", :council_id => @council.id) %></p>
  <%= list_all @meetings[0..14] %>
  <%= content_tag(:p, link_to("See more", meetings_path(:council_id => @council.id)), :class => "more_info") if @meetings.size > 15 %>
</div>
<%= render :partial => '/shared/api_info' %>
<%= content_tag(:p, auto_link("Data sourced from #{@council.data_source_url} provided by #{@council.data_source_name}"), :class => "attribution") unless @council.data_source_url.blank? %>
<%= timestamp_data_for @council %>
