<%= render :partial => 'shared/experimental_flash' %>

<div id='spending_data_dashboard'>

	<div class='breadcrumbs'>
	  <%= link_to 'Spending data for all councils', spending_councils_path %> 
	</div>
	<h1><%= basic_link_for @council %> :: <%= @title %></h1>
	
	<%- if @suppliers.blank? -%>
		<p class='alert'>We don&#x27;t have spending data for this council. Probably this is because it isn&#x27;t publishing it as open data. Please <%= link_to 'contact your councillor', council_path(@council) %> to ask them why not (all councils have been told they should be publishing this by Jan 2011)</p>
	<%- else -%>
		<div id="council_spending_dashboard" class="dashboard">
		  <div id="statistics">
		    <div class='in_words'>
			
				  <div id='total_spend' class='spending_count'>
						<span class='value'>&pound;<%= number_with_delimiter(@council.total_spend.to_i) %></span> 
						<strong class=description>Spent in <%= @council.spending_stat.months_covered %> months since <%= @council.spending_stat.earliest_transaction_date.strftime("%b %Y") %></strong>
					</div>
					<div class="explanation">
					  <div id='average_monthly_spend' class='spending_count'><span class='value'>&pound;<%= number_with_delimiter(@council.average_monthly_spend.to_i) %></span> <strong class=description>Spent per month</strong></div>
					  <div id='supplier_count' class='spending_count'><span class='value'><%= number_with_delimiter(@council.suppliers.count) %></span> <strong class=description>Suppliers</strong></div>
					  <div id='transaction_count' class='spending_count'><span class='value'><%= number_with_delimiter(@council.financial_transactions.count) %></span> <strong class=description>Financial Transactions</strong></div>
					</div>
		    </div>
		  </div>
		</div>
		<div id="relationships">
	
			<div id="spend_by_month" class="graphed_datapoints">
				<h3>Spend by month</h3>
				<%= spend_by_month_graph(@council.spending_stat.spend_by_month) %>
			</div>
			<div id="suppliers" class="item_grouping">
				<%= basic_table :caption => 'Biggest suppliers', 
												:headings => ['Name', 'Total spend', 'Per month'], 
												:classes => ['name', 'value', 'value'],
												:data => @suppliers.collect{ |s| [basic_link_for(s), "&pound;#{number_with_delimiter(s.total_spend.to_i)}", "&pound;#{number_with_delimiter(s.average_monthly_spend.to_i)}"] },
												:more_info_url => suppliers_path(:organisation_id => @council.id, :organisation_type => 'Council') %>
			</div>

			<div id="financial_transactions" class="item_grouping">
				<%= basic_table :caption => 'Biggest transactions', 
												:headings => ['Supplier', 'Service', 'Value'], 
												:classes => ['name', 'description', 'value'],
												:data => @financial_transactions.collect{ |t| [basic_link_for(t.supplier), t.full_description||'Not known', link_to("&pound;#{number_with_delimiter(t.value.to_i)}", financial_transaction_path(t))] },
												:more_info_url => financial_transactions_path(:organisation_id => @council.id, :organisation_type => 'Council') %>
			</div>
		</div>
	<%- end -%>
	
</div>