<%= render :partial => 'shared/experimental_flash' %>

<div id='spanding_data_dashboard' class='dashboard'>
	<h1><%= @title %></h1>
	
	<div class="dashboard">
	  <div id="statistics">
	    <div class='in_words'>
			  <div id='council_count' class='spending_count'><span class='value'><%= @councils.size %></span> <strong class=description>Councils</strong></div>
			  <div id='supplier_count' class='spending_count'><span class='value'><%= number_with_delimiter(Supplier.count) %></span> <strong class=description>Suppliers</strong></div>
			  <div id='transaction_count' class='spending_count'><span class='value'><%= number_with_delimiter(FinancialTransaction.count) %></span> <strong class=description>Financial Transactions</strong></div>
	    </div>
	  </div>
	</div>
	
	<div class='restriction'>
		<%= render :partial => 'suppliers/supplier_search_form' %>
	</div>

	<div id="relationships">
		<div id="councils" class="item_grouping">
			<%= basic_table :caption => 'Councils with spending data', 
											:headings => ['Name', 'Total spend', 'Per month'], 
											:classes => ['name', 'value', 'value'],
											:data => @councils.collect{ |c| [link_to(c.title, :controller => 'councils', :action => 'show_spending', :id => c.to_param), "£#{number_with_delimiter(c.total_spend.to_i)}", "£#{number_with_delimiter(c.average_monthly_spend.to_i)}"] } %>
			<p>See also <%= link_to "Open Data Scoreboard", '/councils/open' %> and Armchair Auditor <a href="http://armchairauditor.co.uk/scoreboard" class="external">Spending Data Scoreboard</a></p>
		</div>
	
		<div id="suppliers" class="item_grouping">
			<%= basic_table :caption => 'Biggest suppliers', 
											:headings => ['Name', 'Total spend', 'Per month'], 
											:classes => ['name', 'value', 'value'],
											:data => @suppliers.collect{ |s| [basic_link_for(s), "£#{number_with_delimiter(s.total_spend.to_i)}", "£#{number_with_delimiter(s.average_monthly_spend.to_i)}"] },
											:more_info_url => suppliers_path %>
		</div>

		<div id="financial_transactions" class="item_grouping">
			<%= basic_table :caption => 'Biggest transactions', 
											:headings => ['Supplier', 'Council', 'Value'], 
											:classes => ['name', nil, 'value'],
											:data => @financial_transactions.collect{ |t| [basic_link_for(t.supplier), basic_link_for(t.organisation), link_to("£#{number_with_delimiter(t.value.to_i)}", financial_transaction_path(t))] },
											:more_info_url => financial_transactions_path %>
		</div>
	</div>
</div>
<div id="api_info">
  <p><%= image_tag('api_icon.gif', :alt => "API") %> Get all the spending data as a <a href="/councils/spending.csv.zip">Zip&#x27;d CSV archive</a> under the same open <a href="/info/licence_info">attribution/share-alike licence
  </a> as the rest of OpenlyLocal <%= help_link_to :controller => "info", :action => "api", :anchor => 'spending' %></p>
</div>