<div id="api_info">
  <p><%= image_tag('api_icon.gif', :alt => "API") %> Get this info as <%= link_to_api_url("xml") %> or <%= link_to_api_url("json") %><%= " or as an #{link_to_api_url("rss")} feed" if @show_rss_link %> <%= help_link_to :controller => "info", :action => "api", :anchor => controller.controller_name %></p>
</div>