<%- content_tag :table, :class => "datapoints statistics" do -%>
  <caption><%= statistics_table[:caption] %></caption>
  <tr>
    <th><%= statistics_table[:subject].to_s.titleize %></th>
    <th class="value">Value</th>
    <%= content_tag(:th, "More info", :class => "more_info") if controller_name == "datasets" %>
  </tr>
  <%- max_value = statistics_table[:datapoints].collect{|dp| dp.value.to_f }.max -%>
  <%- statistics_table[:datapoints].each do |datapoint| -%>
    <tr class='<%= datapoint == statistics_table[:selected] ? "selected datapoint" : "datapoint" %>'>
      <td class='description <%= datapoint.send(statistics_table[:subject]).class.to_s.underscore %>' style="background-position: <%= (100.0/max_value)*8*datapoint.value.to_f %>px;">
        <%= basic_link_for datapoint.send(statistics_table[:subject]) %>
      </td>
      <td class="value"><%= formatted_datapoint_value(datapoint) %></td>
      <%= content_tag(:td, link_to(image_tag('inspect.gif', :alt => "See breakdown of this figure"), [datapoint.area, datapoint.subject].compact), :class => "more_info") if controller_name == "datasets"  %>
    </tr>
  <%- end -%>
<%- end -%>
<div class="source attribution"><strong>Source</strong> <%= breadcrumbs(statistics_table[:source]) %></div>
