<%= render :partial => 'shared/experimental_flash' %>
<div class='ons_subjects'>
  <%= @dataset_family.ons_subjects.collect { |sub| link_to sub.title, dataset_families_path(:anchor => dom_id(sub)) }.join(' :: ') %>
</div>

<div class='source attribution'><%= breadcrumbs(@dataset_family.parents) %></div>
<h1><%= @title %></h1>

<dl id='main_attributes' class='attributes'>
  <%= attribute_tag :ons_reference, @dataset_family.ons_uid %>
</dl>

<%- unless @area -%>
  <div id="relationships">
    <%- unless @dataset_family.ons_datasets.blank? -%>
      <div id='ons_datasets' class='item_grouping'>
        <h3>Possible sample periods</h3>
        <ul>
          <%- @dataset_family.ons_datasets.each do |dataset| -%>
            <li><%= dataset.title %></li>
          <%- end -%>
        </ul>
      </div>
    <%- end -%>
  
    <div id='dataset_topics' class='item_grouping'>
      <h3>Topics</h3>
      <%= list_all @dataset_family.dataset_topics, :extended => true %>
    </div>
  </div>
<%- end -%>
  
<%- unless @datapoints.blank? -%>
<!-- <div class="alert">
  <%#= link_to "Test link to parent", [@area,@dataset_family.dataset] %>
</div> -->
  <%= statistics_table @datapoints, :caption => @dataset_family.title, :description => @statistics_table_description, :source => @dataset_family.parents, :show_more_info => true %>
<%- end -%>