<div class="ons_dataset_family"><%= basic_link_for @ons_datapoint.ons_dataset_topic.ons_dataset_family %></div>
<h1><%= basic_link_for @ons_datapoint.ons_dataset_topic %>: <%= basic_link_for @ward %></h1>
<div id="ons_statistics">
  <%- content_tag :table, :class => "datapoints" do -%>
    <caption>All wards in <%= basic_link_for @council %></caption>
    <tr>
      <th>Ward</th>
      <th class="value">Value</th>
    </tr>
    <%- max_value = @datapoints.collect{|dp| dp.value.to_f }.max -%>
    <%- @datapoints.each do |datapoint| -%>
      <tr class='<%= datapoint == @ons_datapoint ? "selected" : "" %>'>
        <td class='ward' style="background-position: <%= (100.0/max_value)*8*datapoint.value.to_f %>px;"><%= basic_link_for datapoint.ward %></td>
        <td class="value"><%= formatted_datapoint_value(datapoint) %></td>
      </tr>
    <%- end -%>
  <%- end -%>
  <div class="source attribution">
    <strong>Source</strong> <cite title="Office For National Statistics">ONS</cite> :: <%= basic_link_for @ons_datapoint.ons_dataset_topic.ons_dataset_family %> :: <%= basic_link_for @ons_datapoint.ons_dataset_topic %> :: <%= @ons_datapoint.ons_dataset_topic.data_date %>
  </div>

</div>
