<%- div_for csv_parser do -%>
  <h3><%= link_to "Parser details", parser_path(csv_parser) %></h3>
  <p><%= link_to "edit", edit_parser_path(csv_parser) %></p>
  <p>
    <strong>Mapping system</strong> <%= csv_parser.portal_system ? link_for(csv_parser.portal_system) : 'None' %><br />
    <strong>Result model</strong> <%= csv_parser.result_model %><br />
  </p>
  <h4>Item attribute mapper <em>maps CSV column headings</em></h4>
	<%= render :partial => 'parsers/attributes', :object => csv_parser.attribute_mapping %>
  <br class="clear-left" />
<%- end -%>
