<h4 class="owner"><%= basic_link_for @council %>:</h4>
<h1><%= @title %> for <%= basic_link_for @council %></h1>
<div id="documents">
  <%= list_all @documents, :extended => true %>
</div>

<%= render :partial => '/shared/api_info' %>