<%= error_messages_for :police_force %>

<% form_for @police_force do |f| -%>
  <p>
    <%= f.label :name, "Name" %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :url, "Url" %>
    <%= f.text_field :url %>
  </p>
  <p>
    <%= f.label :wdtk_name, "WhatDoTheyKnow name" %>
    <%= f.text_field :wdtk_name %>
  </p>
  <p>
    <%= f.label :npia_id, "NPIA id" %>
    <%= f.text_field :npia_id %>
  </p>
  <p>
    <%= f.label :facebook_account_name %>
    <%= f.text_field :facebook_account_name %>
  </p>
  <p>
    <%= f.label :youtube_account_name %>
    <%= f.text_field :youtube_account_name %>
  </p>
  <p>
    <%= f.label :twitter_account_name %>
    <%= f.text_field :twitter_account_name %>
  </p>
  <p>
    <%= f.label :feed_url %>
    <%= f.text_field :feed_url %>
  </p>
  <p>
    <%= f.label :wikipedia_url %>
    <%= f.text_field :wikipedia_url %>
  </p>
  <p>
    <%= f.label :address %>
    <%= f.text_area :address %>
  </p>
  <p>
    <%= f.label :telephone %>
    <%= f.text_field :telephone %>
  </p>
  <p>
    <%= f.submit "Submit" %>
  </p>
<% end -%>