<p class="breadcrumbs"><%= link_to "All Police Forces", police_forces_path %></p>
<h1><%= h @police_force.name %></h1>
<dl id="main_attributes" class="attributes">
  <%= render :partial => "attributes", :object => @police_force %>
</dl>
<div class="extra_info">
  <h3>Other info</h3>
  <%- unless @police_force.wdtk_name.blank? -%>
    <%= link_to "WhatDoTheyKnow.com FoI requests", "http://www.whatdotheyknow.com/body/#{@police_force.wdtk_name}", :class => 'external', :rel => "openlylocal:foi-data" %> (<%= link_to "feed", "http://www.whatdotheyknow.com/feed/body/#{@police_force.wdtk_name}", :class => "feed" %>)
  <%- end -%>
</div>
<div id="relationships">
  <div id="councils" class="item_grouping">
    <h4>Responsible for policing in areas governed by</h4>
    <%= list_all @police_force.councils, :basic => true %>
  </div>
  <div id="police_teams" class="item_grouping">
    <h4>Neighbourhood Police Teams</h4>
    <%= list_all @police_force.police_teams.current %>
  </div>
</div>

<%= render :partial => '/shared/api_info' %>

<%= timestamp_data_for @police_force %>