<h1><%= "#{basic_link_for @council} :: " if @council %> <%= @title %></h1>

<div id="polls">
  <%= list_all @polls, :extended => true %>
</div>

<%= will_paginate @polls %>

<%= render :partial => '/shared/api_info' %>

