<h1>Election for <%= @poll.position %> for <%= basic_link_for(@poll.area) %> <%= @poll.area.class %> on <%= @poll.date_held.to_s(:event_date) %></h1>

<dl id="main_attributes" class="attributes">
  <%= attribute_tag :electorate, @poll.electorate %>
  <%= attribute_tag :ballots_issued, @poll.ballots_issued %>
  <%= attribute_tag :ballots_rejected, @poll.ballots_rejected %>
  <%= attribute_tag :postal_votes, @poll.postal_votes %>
  <%= attribute_tag :turnout, number_to_percentage(@poll.turnout*100, :precision => 1) if @poll.turnout %>
  <%= attribute_tag :council, basic_link_for(@council) %>
</dl>
<br class='clear'/>
<table class='statistics' id='candidacies'>
  <%= content_tag :caption, (@poll.uncontested? ? 'Uncontested Election' : (@total_votes > 0 ? "Election Results" : "Election Candidates")), :class => @poll.status %>
  <tr><th>Candidate</th><th>Party</th><th class='value'>Votes</th><th class='value'>Proportion of vote</th><th class='value'>Elected?</th></tr>
  <%- @poll.candidacies.each do |candidacy| -%>
    <tr class="candidacy <%= candidacy.status %>">
      <td><%= candidacy.member ? link_to(candidacy.full_name, candidacy.member) : candidacy.full_name %></td>
      <td><%= candidacy.party_name %></td>
      <td class='value'><%= candidacy.votes %></td>
      <td class='value'><%= number_to_percentage(100*candidacy.votes.to_f/@total_votes.to_f, :precision => 1) if candidacy.votes %></td>
      <td class='value'><%= candidacy.elected? ? 'Yes' : 'No' %></td>
    </tr>
  <%- end -%>
</table>
<div class='source attribution'>
  Source: <%= link_to @poll.source, @poll.source, :class => 'external' %>
</div>
<%- if @poll.rejected_ballot_details? -%>
  <p class='rejected_ballot_details'>
    <h4>Rejected Ballot details</h4>
    <%- Poll::BallotRejectedCategories.each do |category| -%>
      <%= category.titleize %>: <span class='<%= category %>'><%= @poll.send(category) %></span><br />
    <%- end -%>
  </p>
<%- end -%>

<div id="relationships">
  <%= render :partial => '/shared/related_articles', :object => @poll.related_articles(:limit => 5) %> 
</div>
