<h1>Editing Police Authority: <%= @police_authority.name %></h1>

<%= error_messages_for :police_authority %>

<% form_for @police_authority do |f| -%>
  <p>
    <%= f.label :name, "Name" %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :url, "Url" %>
    <%= f.text_field :url %>
  </p>
  <p>
    <%= f.label :wdtk_name, "WhatDoTheyKnow name" %>
    <%= f.text_field :wdtk_name %>
  </p>
  <p>
    <%= f.label :wikipedia_url %>
    <%= f.text_field :wikipedia_url %>
  </p>
  <p>
    <%= f.label :address %>
    <%= f.text_area :address %>
  </p>
  <p>
    <%= f.label :telephone %>
    <%= f.text_field :telephone %>
  </p>
  <p>
    <%= f.submit "Submit" %>
  </p>
<% end -%>