<div class="breadcrumbs"><%= link_to "All Police Authorities", police_authorities_path %></div>
<h1><%= h @police_authority.name %></h1>
<dl id="main_attributes" class="attributes">
  <%= render :partial => 'attributes', :object => @police_authority %>
</dl>
  <%- unless @police_authority.wdtk_name.blank? -%>
  <div class="extra_info">
  <h3>Other info</h3>
    <%= link_to "WhatDoTheyKnow.com FoI requests", "http://www.whatdotheyknow.com/body/#{@police_authority.wdtk_name}", :class => 'external', :rel => "openlylocal:foi-data" %> (<%= link_to "feed", "http://www.whatdotheyknow.com/feed/body/#{@police_authority.wdtk_name}", :class => "feed" %>)
  </div>
  <%- end -%>
<div id="relationships">
  <div id="councils">
    <h4>Responsible for the force (<%= link_for(@police_authority.police_force) %>) that polices in areas governed by</h4>
    <%= list_all @police_authority.councils, :basic => true %>
  </div>
</div>

<%= render :partial => '/shared/api_info' %>

<%= timestamp_data_for @police_authority %>