<h1><%= @charity.title %></h1>
<p class=intro><%= @charity.activities %></p>

<dl id="main_attributes" class="attributes">
	<%= render :partial => "attributes", :object => @charity %>
</dl>

<%- unless @charity.supplying_relationships.blank? -%>
	<div id="relationships">
	  <h3>Funding includes:</h3>
	  <ul>
	    <%- @charity.supplying_relationships.each do |supplier| -%>
	      <li><strong><%= link_for supplier, :text => supplier.organisation.title %></strong> Total spend: <span class='value'>£<%= number_with_delimiter(supplier.total_spend.to_i) %>, Average monthly spend £<%= number_with_delimiter(supplier.average_monthly_spend.to_i) %></span></li>
	    <%- end -%>
	  </ul>
	</div>
<%- end -%>

<%= timestamp_data_for @charity %>
