<h1><%= @company.title %></h1>

<dl id="main_attributes" class="attributes">
  <%= attribute_tag :companies_house, link_to(@company.company_number, @company.companies_house_url) if @company.company_number? %>
  <%= attribute_tag :website, link_to(@company.url, @company.url) if @company.url? %>
</dl>

<div id="relationships">
  <h3>Supplier to:</h3>
  <%= list_all @company.suppliers %>
</div>

<%= render :partial => '/shared/api_info' %>