<%= render :partial => 'shared/experimental_flash' %>
<h1><%= @company.title %></h1>

<%- if  @company.company_number? -%>
  <h3 class="opencorporates flash">
    <%= link_to("Get free and open company data on #{@company.title}", @company.opencorporates_url, :class => 'external', :title => "Free and open company data on #{@company.title}") %> from <%= link_to("OpenCorporates", 'http://opencorporates.com', :class => 'external', :title => "Free and open company data from The Open Database Of The Corporate World") %>
  </h3>
<%- end -%>

<dl id="main_attributes" class="attributes">
  <%= attribute_tag :company_number, link_to(@company.company_number, @company.opencorporates_url, :class => 'external', :title => "Free and open company data on #{@company.title}") if @company.company_number? %>
  <%= attribute_tag :vat_number, @company.vat_number %>
  <%= attribute_tag :website, link_to(@company.url, @company.url) if @company.url? %>
  <%= attribute_tag :wikipedia_url, link_to(URI.unescape(@company.wikipedia_url), @company.wikipedia_url, :class => 'external') if @company.wikipedia_url? %>
</dl>

<%- unless @company.spending_stat.blank? -%>
  <%= render :partial => 'spending_dashboard' %>
<%- end -%>

<div id="relationships">
  <%= payer_breakdown_table(@company.data_for_payer_breakdown) %>
</div>

<%= timestamp_data_for @company %>

<%= render :partial => '/shared/api_info' %>