<%= render :partial => 'shared/experimental_flash' %>

<div id='spending_data_dashboard' class="dashboard">
	<h1><%= @title %></h1>
	
  <div id="statistics">
    <div class='in_words'>
		  <div id='council_count' class='spending_count'><span class='value'><%= number_with_delimiter(@council_spending_data[:company_count]) %></span> <strong class=description>Companies</strong></div>
		  <div id='supplier_count' class='spending_count'><span class='value'><%#= number_with_delimiter(@council_spending_data.size) %></span> <strong class=description>Suppliers</strong></div>
		  <div id='transaction_count' class='spending_count'><span class='value'><%#= number_with_delimiter(@financial_transaction_count) %></span> <strong class=description>Financial Transactions</strong></div>
    </div>
  </div>
	
	<div id="relationships">
		<div id="biggest_companies" class="item_grouping">
			<%= basic_table :caption => 'Companies supplying councils', 
											:headings => ['Name', 'Total spend', 'Councils supplied', 'Largest council'], 
											:classes => ['name', 'value', 'value', 'name'],
											:data => @council_spending_data[:largest_companies].collect{ |c| [ link_to(c.title, :controller => 'companies', :action => 'show', :id => c.to_param), 
											                                                                   "£#{number_with_delimiter(c.spending_stat.total_received_from_councils.to_i)}", 
											                                                                   c.spending_stat.number_of_councils,
											                                                                   basic_link_for(c.spending_stat.biggest_council)] } %>
			<p>See also <%= link_to "Council Spending Dashboard", '/councils/spending' %></p>
		</div>
	
	</div>
	
	
	
</div>