<%= render :partial => 'shared/experimental_flash' %>

<h1><%= @title %></h1>

<dl id="main_attributes" class="attributes">
  <%= attribute_tag :ward, link_for(@ward) %>
  <%= attribute_tag :area_classification, link_to(@ward.output_area_classification.title, output_area_classification_wards_url(@ward.output_area_classification)) if @ward&&@ward.output_area_classification %>
  <%= attribute_tag :council, link_for(@council) %>
  <%= attribute_tag :county, link_for(@county) %>
  <%= attribute_tag :latitude, @latitude %>
  <%= attribute_tag :longitude, @longitude %>
</dl>
<%= render :partial => 'shared/grouped_datapoints', :locals => { :area => @ward } if @ward %>
<%- if @ward -%>
<div id="relationships">
  <%- unless @members.blank?  -%>
    <h3>Your local councillors</h3>
    <%= list_all @members %>
  <%- end -%>
  
  <div id="crime" class="item_grouping">
    <h3>Crime &amp; Policing</h3>
    <h4>Police force: <%= link_for @council.police_force %></h4>
    
    <%- if @ward.police_team -%>
      <div id="police_team">
        <h4>Neighbourhood Police Team: <%= link_for @ward.police_team %></h4>
        <ul>
          <%- @ward.police_team.police_officers.active.each do |officer| -%>
            <li><%= officer.title %></li>
          <%- end -%>
        </ul>
      </div>
    <%- end -%>

		<%= render :partial => 'crime_area', :object => @postcode.crime_area if @postcode.crime_area %>
  </div>

  <%- unless @ward.committees.blank? -%>
    <div id="committees" class="item_grouping">
      <h3>Committees for this ward</h3>
      <%= list_all @ward.committees %>
    </div>
  <%- end -%>

  <%- unless @ward.meetings.blank? -%>
    <div id="meetings" class="item_grouping">
      <h3>Meeting for ward committees</h3>
      <%= list_all @ward.meetings %>
    </div>
  <%- end -%>
  
  <%- unless @ward.polls.blank? -%>
    <div id="polls" class="item_grouping">
      <h3>Elections for this ward</h3>
      <%= list_all @ward.polls %>
    </div>
  <%- end -%>
  
  <%- unless @postcode.hyperlocal_sites.blank? -%>
    <div id="hyperlocal_sites" class="item_grouping">
      <h3><%= link_to "Nearby Hyperlocal websites", hyperlocal_sites_path %></h3>
      <ul>
        <%= render :partial => "hyperlocal_sites/hyperlocal_site", :collection => @postcode.hyperlocal_sites %>
      </ul>
      <p class='notes'>Want to start a hyperlocal site in your area. See <%= link_to "Talk About Local's guides", 'http://talkaboutlocal.org.uk/', :class => 'external' %> to setting up a hyperlocal site</p>
    </div>
  <%- end -%>

</div>
<%- else -%>
  <p class='alert'>Sorry, no info for this area</p>
<%- end -%>


<%= render :partial => 'shared/api_info' %>
