<%- div_for @committee, :resource => "#this", :typeof => "twfyl:LocalAuthorityCommittee" do -%>
  <h4><%= basic_link_for @committee.council, :rev => "twfyl:committee" %> committee: </h4>
  <h1><span property="foaf:name rdfs:label"><%= @committee.title %></span> <em><%= council_page_for @committee %></em></h1>
  <p class="extra_info">
    <%= link_to "See all #{h(@committee.council.name)} committees", committees_path(:council_id => @council.id) %>
    <%= " :: This is a ward committee for #{link_for @committee.ward}" if @committee.ward %>
  </p>
  <%= content_tag(:div, simple_format(@committee.description), :class => "description intro") unless @committee.description.blank? %>
  <div id="members" class="item_grouping">
    <h3>Members</h3>
    <%= list_all @committee.members %>
  </div>

  <div id="meetings" class="item_grouping">
    <h3>Meetings</h3>
    <p><%= link_to_calendar %></p>
    <%= list_all @meetings, :rel => "twfyl:meeting" %>
  </div>
  <div id="documents" class="item_grouping">
    <h3>Documents for this committee</h3>
    <%= list_all @documents, :extended => true %>
  </div>
  <%= render :partial => '/shared/api_info' %>
  <%= timestamp_data_for @committee %>
<%- end -%>
