<h1>Portal System: <%= h @portal_system.name %></h1>
<p>Website <strong><%= link_to h(@portal_system.url), @portal_system.url, :class => "external" %></strong></p>

<div class="notes">
  <h5>Notes</h5>
  <%= simple_format @portal_system.notes %>
</div>

<div id="councils" class="item_grouping">
  <h4>Used by</h4>
  <%= list_all @councils %>
</div>

<div id="parsers" class="item_grouping">
  <h4>Parsers</h4>
  <%= list_all @parsers %>
  
  <%= link_to "New ItemScraper parser", new_parser_path(:portal_system_id => @portal_system.id, :scraper_type => "ItemScraper") %>
  <br />
  <%= link_to "New InfoScraper parser", new_parser_path(:portal_system_id => @portal_system.id, :scraper_type => "InfoScraper") %>
  <br />
  <%= link_to "New CsvScraper parser", new_parser_path(:portal_system_id => @portal_system.id, :scraper_type => "CsvScraper") %>
</div>
