<%= render :partial => 'shared/experimental_flash' %>
<div class="source attribution"><%= breadcrumbs(@dataset_topic.parents) %></div>
<h1><%= @title %></h1>

<dl id="main_attributes" class="attributes">
  <%= attribute_tag :description, @dataset_topic.description %>
  <%= attribute_tag :measurement_unit, Muids[@dataset_topic.muid].try(:first) %>
  <%= attribute_tag :dataset_date, @dataset_topic.data_date %>
  <%= attribute_tag :ness_id, @dataset_topic.ons_uid %>
  <%= attribute_tag :muid_type, @dataset_topic.muid_type %>
  <%= attribute_tag :subjects, @dataset_topic.dataset_family.ons_subjects.collect { |sub| link_to sub.title, dataset_families_path(:anchor => dom_id(sub)) }.join(', ') %>
</dl>

<%= statistics_table @datapoints, :caption => @table_caption||"Comparison of All Councils", :description => :area, :selected => @selected_datapoint, :source => @dataset_topic.parents %>  

<%= timestamp_data_for @dataset_topic %>