<%= error_messages_for :alert_subscriber %>
<%- form_for @alert_subscriber do |f| %>
  <p class='required'>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </p>
  <p class='required'>
    <%= f.label :postcode_text %>
    <%= f.text_field :postcode_text %>
  </p>
  <p>
    <%= f.submit "Submit" %>
  </p>
<%- end -%>