<div class="blueprint-container">
  <div class="span-24">
    <p>Find out for free what is being built and knocked down in your area and receive email alerts when something new is planned.</p>
  </div>
  <div class="span-12">
    <%= error_messages_for :alert_subscriber %>
    <%- form_for @alert_subscriber do |f| %>
      <p class="required">
        <%= f.label :postcode, 'Enter a postcode' %>
        <%= f.text_field :postcode_text %>
      </p>
      <p class="required">
        <%= f.label :email, 'Enter your email address' %>
        <%= f.text_field :email %>
      </p>
      <p>What size area would you like to receive alerts for?</p>
      <div class="radio">
        <%= f.radio_button :distance, 0.2 %>
        <%= f.label 'distance_02', 'My street (about 200 m)', :class => 'radio' %>
      </div>
      <div class="radio">
        <%= f.radio_button :distance, 0.8 %>
        <%= f.label 'distance_08', 'My neighborhood (about 800 m)', :class => 'radio' %>
      </div>
      <p>
        <%= f.submit 'Create alert' %>
      </p>
    <%- end -%>
  </div>
  <div class="span-12 last" id="planning-alerts-preview">
    <h2></h2>
    <div id="planning_applications"></div>
  </div>
  <div class="span-24">
    <div class="notes">
      <p>Our <strong>Privacy Policy</strong> is very simple: We will not sell or distribute any personal information you share with us - at all, ever.</p>
      <p>It's early days for this service so your local authority may not be included yet. Sign up anyway and you'll receive alerts as soon as they're available.</p>
    </div>
  </div>
</div>
