<% @enable_google_maps = true %>
<div class="blueprint-container">
  <div class="span-24">
  </div>
  <div class="span-12">
    <%= error_messages_for :alert_subscriber %>
    <%- form_for @alert_subscriber do |f| %>
      <p id="value-proposition">Find out for free what is being built and knocked down in your area and receive email alerts when something new is planned.</p>
      <div class="row">
        <div class="span-1">1</div>
        <div class="span-11 last">
          <p class="required">
            <%= f.label :postcode, 'Enter a postcode:' %>
            <%= f.text_field :postcode_text %>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="span-1">2</div>
        <div class="span-11 last">
          <p class="required">
            <%= f.label :email, 'Enter your email address:' %>
            <%= f.text_field :email %>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="span-1">3</div>
        <div class="span-11 last">
          <p class="radio-question">What size area would you like to receive alerts for?</p>
          <div class="radio-answer">
            <%= f.radio_button :distance, 0.2 %>
            <%= f.label 'distance_02', 'My street (about 200 m)', :class => 'radio' %>
          </div>
          <div class="radio-answer">
            <%= f.radio_button :distance, 0.8 %>
            <%= f.label 'distance_08', 'My neighbourhood (about 800 m)', :class => 'radio' %>
          </div>
          <div class="radio-answer">
            <%= f.radio_button :distance, 2 %>
            <%= f.label 'distance_2', 'Wider area (about 2000 m)', :class => 'radio' %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="span-1">&nbsp;</div>
        <div class="span-11 last">
          <p><%= f.submit 'Create alert' %></p>
        </div>
      </div>
    <%- end -%>
  </div>
  <div class="span-12 last" id="planning-alerts-preview">
    <div id="planning-alerts-map-preview"></div>
    <h2></h2>
    <div id="planning_applications"></div>
  </div>
  <div class="span-24">
    <div class="notes">
      <p>Our <strong>Privacy Policy</strong> is very simple: We will not sell or distribute any personal information you share with us - at all, ever.</p>
      <p>It's early days for this service so your local authority may not be included yet. Sign up anyway and you'll receive alerts as soon as they're available.</p>
    </div>
  </div>
</div>
