<%= render :partial => 'shared/experimental_flash' %>
<div class="source attribution"><%= breadcrumbs(@datapoint.parents) %></div>
<h1><%= basic_link_for @datapoint.dataset_topic %>: <%= basic_link_for @area %></h1>

<%= statistics_table @datapoints, :caption => @table_caption, :description => :area, :selected => @datapoint, :source => @datapoint.parents %>
