<%= render :partial => 'shared/experimental_flash' %>

<div class='breadcrumbs'>
  <%= link_to 'All suppliers', suppliers_path %> &gt; <%= link_to "Suppliers to #{@supplier.organisation.title}", suppliers_path(:organisation_type => @supplier.organisation.class.to_s, :organisation_id => @supplier.organisation.id) %> &gt; <%= basic_link_for @supplier %>
</div>
<h1>Payment <%= @financial_transaction.uid if @financial_transaction.uid? %></h1>
<dl id="main_attributes" class="attributes">
  <%= attribute_tag :from, link_for(@supplier.organisation) %>
  <%= attribute_tag :to, link_for(@supplier) %>
  <%= attribute_tag :for, "£#{number_with_precision(@financial_transaction.value, :precision => 2, :delimiter => ',')}" %>
  <%= attribute_tag :date, date_with_fuzziness_for(@financial_transaction) %>
  <%= attribute_tag :department, @financial_transaction.department_name %>
  <%= attribute_tag :service, @financial_transaction.service %>
  <%= attribute_tag :description, @financial_transaction.description %>
  <%= attribute_tag :transaction_id, @financial_transaction.uid %>
  <%= attribute_tag :invoice_number, @financial_transaction.invoice_number %>
  <%= attribute_tag :source, 
										(@financial_transaction.csv_line_number ? "Line #{@financial_transaction.csv_line_number} of ": '') + 
										link_to(@financial_transaction.source_url, @financial_transaction.source_url) if @financial_transaction.source_url? %>
</dl>



<%= render :partial => '/shared/api_info' %>