<h1><%= @title %></h1>

<dl id="main_attributes" class="attributes">
  <%= attribute_tag :originator, link_to(@statistical_dataset.originator, @statistical_dataset.originator_url) %>
  <%= attribute_tag :source, link_to(@statistical_dataset.url, @statistical_dataset.url) %>
</dl>

<div id="relationships">
  <h3>Dataset Families</h3>
  <%= list_all @statistical_dataset.ons_dataset_families %>
</div>

<%= timestamp_data_for @statistical_dataset %>