<h1><%= basic_link_for @council %>: <%= @title %> <em><%= council_page_for @ward %></em></h1>
<div id="data">
  <p class="attribute"><strong><%= link_to "ONS SNAC ID", "http://www.ons.gov.uk/about-statistics/geography/products/geog-products-area/lookups/index.html", :class => 'external' %></strong> <%= @ward.snac_id %></p>
</div>

<div id="members" class="item_grouping">
  <h3>Councillors for this ward</h3>
  <%= list_all @members %>
</div>

<%- unless @committees.blank? -%>
  <div id="committees" class="item_grouping">
    <h3>Committees for this ward</h3>
    <%= list_all @committees %>
  </div>
<%- end -%>

<%- unless @ward.meetings.blank? -%>
  <div id="meetings" class="item_grouping">
    <h3>Meeting for ward committees</h3>
    <%= list_all @ward.meetings %>
  </div>
<%- end -%>
<%= render :partial => '/shared/api_info' %>

<%= timestamp_data_for @ward %>
