<%- div_for @ward do -%>
  <h1><%= basic_link_for @council %>: <%= @title %> <em><%= council_page_for @ward %></em></h1>
  <dl id="main_attributes" class="attributes">
    <%= attribute_tag :neighbourhood_police_team, link_for(@ward.police_team) %>
    <%= attribute_tag :ons_snac_ref, @ward.snac_id %>
    <%= attribute_tag :ons_gss_code, @ward.gss_code %>
    <%= attribute_tag :ordnance_survey_ref, @ward.os_id  %>
  </dl>
  <%= render :partial => 'shared/grouped_datapoints', :object => @ward.grouped_datapoints %>
  <div id="relationships">
    <div id="members" class="item_grouping">
      <h3>Councillors for this ward</h3>
      <%= list_all @members %>
    </div>

    <%- unless @committees.blank? -%>
      <div id="committees" class="item_grouping">
        <h3>Committees for this ward</h3>
        <%= list_all @committees %>
      </div>
    <%- end -%>

    <%- unless @ward.meetings.blank? -%>
      <div id="meetings" class="item_grouping">
        <h3>Meeting for ward committees</h3>
        <%= list_all @ward.meetings %>
      </div>
    <%- end -%>
    
    <%- unless @ward.polls.blank? -%>
      <div id="polls" class="item_grouping">
        <h3>Elections for this ward</h3>
        <%= list_all @ward.polls %>
      </div>
    <%- end -%>
  </div>
<%- end -%>
<%= render :partial => 'shared/api_info' %>

<%= timestamp_data_for @ward %>
