<h1><%= basic_link_for @council %>: <%= @title %></h1>

<div id="members" class="item_grouping">
  <h3>Councillors for this ward</h3>
  <%= list_all @members %>
</div>

<%= render :partial => '/shared/api_info' %>

<%= timestamp_data_for @ward %>
