<div class='breadcrumbs'>
  <%= link_to 'All suppliers', suppliers_path if @organisation %> 
</div>
<h1><%= @title %></h1>
<p class='restriction'>
  <%= params[:order] == 'total_spend' ? link_to('Sort by Name', params.merge(:order => 'name'), :class => 'sort' ) : link_to('Sort by Total Spend', params.merge(:order => 'total_spend'), :class => 'sort' ) %>
</p>

<%- if @organisation -%>
    <dl id="overview" class="attributes">
      <%= attribute_tag :number_of_suppliers, @organisation.suppliers.count %>
      <%= attribute_tag :number_of_transactions, @organisation.financial_transactions.count %>
    </dl>
<%- end -%>

<div id='relationships'>
  <table id="crime_rates" class='statistics'>
    <caption>Suppliers</caption>
    <tr>
      <th><%= link_to('Supplier name', params.merge(:order => 'name'), :class => 'sort' ) %></th>
      <th>Supplying to</th>
      <th class='value'><%= link_to('Total spend', params.merge(:order => 'name'), :class => 'total_spend' ) %></th>
      <th class='average value'>Average monthly spend</th>
    </tr>
    <%- @suppliers.each do |supplier| -%>
      <tr>
        <td class='name'><strong><%= basic_link_for supplier %></strong></td>
        <td class='payer name'><%= basic_link_for supplier.organisation %></td>
        <td class='value'>£<%= number_with_delimiter(supplier.total_spend.to_i, :delimiter => ',') %></td>
        <td class='average value'>£<%= number_with_delimiter(supplier.average_monthly_spend.to_i, :delimiter => ',') %></td>
      </tr>
    <%- end -%>
  </table>
  <%#= list_all @suppliers %>
</div>
<%= will_paginate @suppliers %>

<%= render :partial => '/shared/api_info' %>