<div class='breadcrumbs'>
  <%= link_to 'All suppliers', suppliers_path if @organisation %> 
</div>
<h1><%= @title %></h1>

<%- content_tag(:p, :class => 'more_info') do  -%>
  <%= params[:order] == 'total_spend' ? link_to('Sort by Name', params.merge(:order => 'name'), :class => 'sort' ) : link_to('Sort by Total Spend', params.merge(:order => 'total_spend'), :class => 'sort' ) %>
<%- end -%>

<%= list_all @suppliers %>

<%= will_paginate @suppliers %>

<%= render :partial => '/shared/api_info' %>