<div class='breadcrumbs'>
  <%= link_to 'All suppliers', suppliers_path %> &gt; <%= link_to "Suppliers to #{@organisation.title}", suppliers_path(:organisation_type => @organisation.class.to_s, :organisation_id => @organisation.id) %>
</div>
<h1><%= @title %></h1>

<dl id="main_attributes" class="attributes">
  <%= attribute_tag :company_number, link_to(@supplier.company_number, @supplier.companies_house_url) if @supplier.company_number? %>
  <%= attribute_tag :website, link_to(@supplier.url, @supplier.url) if @supplier.url? %>
</dl>

<table class='statistics' id='financial_transactions'>
  <%= content_tag :caption, "Money paid to this supplier by #{link_for @organisation }" %>
  <tr><th>Date</th><th>Department</th><th>Category</th><th class='value'>Value</th></tr>
  <%- @supplier.financial_transactions.each do |transaction| -%>
    <tr class="transaction">
      <td><%= transaction.date.to_s(:event_date) %></td>
      <td><%= transaction.department_name||'not provided' %></td>
      <td><%= transaction.service||'not provided' %></td>
      <td class='value'>£<%= number_with_precision(transaction.value, :precision => 2, :delimiter => ',') %></td>
    </tr>
  <%- end -%>
</table>

<%= render :partial => '/shared/api_info' %>