<%= render :partial => 'shared/experimental_flash' %>

<div class='breadcrumbs'>
  <%= link_to 'All suppliers', suppliers_path %> &gt; <%= link_to "Suppliers to #{@organisation.title}", suppliers_path(:organisation_type => @organisation.class.to_s, :organisation_id => @organisation.id) %> &gt; <%= @supplier.title %>
</div>
<h1><%= @supplier.title %> <%= link_to('(full details)', @supplier.payee) if @supplier.payee %></h1>

<div id='supplier_dashboard' class='dashboard'>
  <h4>
    Spent by <%= link_for @organisation %> with <%= basic_link_for(@supplier.payee) || @supplier.title %>
  </h4>
  <div id='total_spend' class='spending_figure'><strong class=description>Total spend</strong> <span class='value'>£<%= number_with_delimiter(@supplier.total_spend.to_i) %></span></div>
  <div id='total_spend' class='spending_figure'><strong class=description>Average monthly spend</strong> <span class='value'>£<%= number_with_delimiter(@supplier.average_monthly_spend.to_i) %></span></div>
</div>

<%- if @supplier.payee -%>
  <div id="payee_info">
    <h3>Information about this supplier</h3>
    <dl id="<%= @supplier.payee.class.to_s.underscore %>_attributes" class="attributes">
      <%= attribute_tag :full_name, @supplier.payee[:title] %>
      <%= attribute_tag :supplier_ref, @supplier.uid %>
      <%= render :partial => "#{@supplier.payee.class.to_s.underscore.pluralize}/attributes", :object => @supplier.payee %>
    </dl>
    <div id="other_supplying_relationships" class='clear-left'>
      <h4>Other councils supplied by <%= basic_link_for(@supplier.payee) %></h4>
      <%- if @supplier.associateds.blank? -%>
        <p>None known</p>
      <%- else -%>
        <ul>
          <%- @supplier.associateds.each do |supplier| -%>
            <li><strong><%= link_for supplier, :text => supplier.organisation.title %></strong> 
              (Total spend: <span class='value'>£<%= number_with_delimiter(supplier.total_spend.to_i) %></span>, Average monthly spend: <span class='value'>£<%= number_with_delimiter(supplier.average_monthly_spend.to_i) %>)</span></li>
          <%- end -%>
        </ul>
      <%- end -%>
    </div>
  </div>
<%- else -%>
<p class='alert'>No information known about this supplier. Help us identify this company/supplier</p>
<p class="request_for_help"><%= link_to "Add info now", new_user_submission_path(:user_submission => {:item_id => @supplier.id, :item_type => 'Supplier', :submission_type => 'supplier_details'}), :class => 'button' %></p>
<%- end -%>

<table class='statistics' id='financial_transactions'>
  <%= content_tag :caption, "Money paid to this supplier by #{link_for @organisation }" %>
  <tr><th>Date</th><th>Department</th><th>Category</th><th class='value'>Value</th></tr>
  <%- @supplier.financial_transactions.each do |transaction| -%>
    <tr class="transaction">
      <td><%= date_with_fuzziness_for(transaction) %></td>
      <td><%= transaction.department_name||'not provided' %></td>
      <td><%= transaction.service||'not provided' %></td>
      <td class='value'><%= basic_link_for transaction , :text => number_to_currency(transaction.value, :unit => "£") %></td>
    </tr>
  <%- end -%>
</table>

<%= timestamp_data_for @supplier %>

<%= render :partial => '/shared/api_info' %>