<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML+RDFa 1.0//EN" "http://www.w3.org/MarkUp/DTD/xhtml-rdfa-1.dtd">
<html 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema#" 
	xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" 
	xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#" 
	xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" xml:base="<%= rdfa_vocab_url %>">
	<head>
		<meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
		<title>OpenlyLocal - Proposed RDF Vocabulary</title>
		<!-- with thanks to Simon Gibbs at http://cantorva.com -->
		<base href="<%= rdfa_vocab_url %>"></base>
    <link rel="stylesheet" href="/stylesheets/blueprint/screen.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="/stylesheets/blueprint/print.css" type="text/css" media="print" />
    <!--[if IE]>
      <link rel="stylesheet" href="/stylesheets/blueprint/ie.css" type="text/css" media="screen, projection" />
    <![endif]-->
    <link rel="stylesheet" href="/stylesheets/twfy_local.css" type="text/css" media="screen" charset="utf-8" />
	</head>
	<body>
		<div class="container">
      <%= render :partial => 'shared/header' %>
      <div id="content">
    		<h1 property="rdfs:label">OpenlyLocal - Proposed RDF Vocabulary</h1>
		
    		<p>This document is experimental <em>and therefore may change without warning</em>. It currently describes the 
    		namespace <code><%= rdfa_vocab_url %>#</code> with string
    		<code>openlylocal</code> recommended for use as prefix in 
    		<a href="http://en.wikipedia.org/wiki/CURIE">CURIE</a>s.</p>

		
    		<p>This file can be translated to <a rel="alternate" href="http://www.w3.org/2007/08/pyRdfa/extract?uri=<%= URI.escape rdfa_vocab_url %>&amp;format=pretty-xml&amp;warnings=false&amp;parser=strict&amp;space-preserve=false&amp;submit=Go!&amp;text=">RDF/XML</a> if you prefer.</p>
	
    		<h2>Classes</h2>
    		<div typeof="rdfs:Class" id="LocalAuthorityMember" about="#LocalAuthorityMember">
    			<h3><span property="rdfs:label">Local Government Member</span> (openlylocal:LocalAuthorityMember)</h3>
    			<p property="rdfs:comment">Represents the class of elected people in local government.</p>
    			<p>Local Authority members are <a href="http://xmlns.com/foaf/0.1/Person" rel="rdfs:subClassOf">people</a>.</p>
    		</div>
    		<div typeof="rdfs:Class" id="LocalAuthorityCommittee" about="#LocalAuthorityCommittee">
    			<h3><span property="rdfs:label">Committee</span> (openlylocal:LocalAuthorityCommittee)</h3>
    			<p property="rdfs:comment">Represents the class of groups known as committees, forming parts of local authorities.</p>
    			<p>Committees are <a href="http://xmlns.com/foaf/0.1/Group" rel="rdfs:subClassOf">groups</a> of people.</p>
    		</div>
    		<div typeof="rdfs:Class" id="LocalAuthority" about="#LocalAuthority">
    			<h3><span property="rdfs:label">Local Authority</span> (openlylocal:LocalAuthority)</h3>
    			<p property="rdfs:comment">Represents the class of local authorities.</p>
    			<p>Local authorities are <a href="http://xmlns.com/foaf/0.1/Organization" rel="rdfs:subClassOf">organisations</a> that run a small area and is also represented in <a href="http://statistics.data.gov.uk/def/administrative-geography/LocalAuthority" rel="rdfs:seeAlso">ONS</a>.</p>
    		</div>
    		<div typeof="rdfs:Class" id="CountyAuthority" about="#CountyAuthority">
    			<h3><span property="rdfs:label">County</span> (openlylocal:CountyAuthority)</h3>
    			<p property="rdfs:comment">Represents the class of Counties.</p>
    			<p>A County is a kind of <a href="#LocalAuthority" rel="rdfs:subClassOf">Local Authority</a></p>
    		</div>
    		<div typeof="rdfs:Class" id="DistrictAuthority" about="#DistrictAuthority">
    			<h3><span property="rdfs:label">District</span> (openlylocal:DistrictAuthority)</h3>
    			<p property="rdfs:comment">Represents the class of District authorities</p>
    			<p>A District is a kind of <a href="#LocalAuthority" rel="rdfs:subClassOf">Local Authority</a></p>
    		</div>
    		<div typeof="rdfs:Class" id="LondonBoroughAuthority" about="#LondonBoroughAuthority">
    			<h3><span property="rdfs:label">London Borough</span> (openlylocal:LondonBoroughAuthority)</h3>
    			<p property="rdfs:comment">Represents the class of London Boroughs.</p>
    			<p>A London Borough is a kind of <a href="#LocalAuthority" rel="rdfs:subClassOf">Local Authority</a>
    			and is also represented in <a href="http://dbpedia.org/resource/London_borough" rel="rdfs:seeAlso">DBpedia</a>.</p>
    		</div>
    		<div typeof="rdfs:Class" id="UnitaryAuthority" about="#UnitaryAuthority">
    			<h3><span property="rdfs:label">Unitary Authority</span> (openlylocal:UnitaryAuthority)</h3>
    			<p property="rdfs:comment">Represents the class of Unitary authorities.</p>
    			<p>A Unitary Authority is a kind of <a href="#LocalAuthority" rel="rdfs:subClassOf">Local Authority</a>
    			and is also represented in 
    			<a href="http://dbpedia.org/resource/Unitary_authority" rel="rdfs:seeAlso">DBpedia</a>.</p>
    		</div>
    		<div typeof="rdfs:Class" id="Ward" about="#Ward">
    			<h3><span property="rdfs:label">Ward</span> (openlylocal:Ward)</h3>
    			<p property="rdfs:comment">Represents the class of Wards.</p>
    			<p>Wards are <a href="http://dbpedia.org/class/yago/SubdivisionsOfTheUnitedKingdom" rel="rdfs:subClassOf">subdivisions of the United Kingdom</a> 
    			<a href="http://dbpedia.org/resource/Wards_of_the_United_Kingdom" rel="rdfs:seeAlso">DBpedia</a>.</p>
    		</div>
    		<div typeof="rdfs:Class" id="PoliceAuthority" about="#PoliceAuthority">
    			<h3><span property="rdfs:label">Police Authority</span> (openlylocal:PoliceAuthority)</h3>
    			<p property="rdfs:comment">Represents the class of Police Authorities.</p>
    			<p>A Police Authority is the <a href="http://xmlns.com/foaf/0.1/Organization" rel="rdfs:subClassOf">organisation</a> that governs a Police of the United Kingdom (excluding Scotland).</p>
    		</div>
    		
    		<div typeof="rdfs:Class" id="Election" about="#Election">
    			<h3><span property="rdfs:label">Election</span> (openlylocal:Election)</h3>
    			<p property="rdfs:comment">Represents the class of Local Government Elections.</p>
    			<p>An Election is an event that is held to democratically choose winners from possible candidates. An election may be for a particular electoral area, an elected position (such as Mayor), or, less frequently, as a non-area member of a body (such as the Greater London Authority)</p>
    		</div>
    		<div typeof="rdfs:Class" id="Candidate" about="#Candidate">
    			<h3><span property="rdfs:label">Candidate</span> (openlylocal:Candidate)</h3>
    			<p property="rdfs:comment">Represents the class of Candidates.</p>
    			<p>A Candidate is a person who stands for election to a particular electoral area, a position (such as Mayor), or, less frequently, as a non-area member of a body (such as the Greater London Authority)</p>
    		</div>
    		
	   		<div typeof="rdfs:Class" id="Charity" about="#Charity">
	    			<h3><span property="rdfs:label">Charity</span> (openlylocal:Charity)</h3>
	    			<p property="rdfs:comment">Represents the class of charities.</p>
	    			<p>Charities are <a href="http://xmlns.com/foaf/0.1/Organization" rel="rdfs:subClassOf">organisations</a> that are registered with the <a href="http://www.charitycommission.gov.uk/" rel="rdfs:seeAlso">Charity Commission </a>.</p>
	    		</div>

    		<h2>Properties</h2>

    		<div typeof="rdf:Property" id="isParentAuthorityOf" about="#isParentAuthorityOf">
    			<h3><span property="rdfs:label">Is Parent Authority</span> (openlylocal:isParentAuthorityOf)</h3>
    			<p property="rdfs:comment">Links County Councils and DistrictCouncils. A <a rel="rdfs:domain" href="#CountyAuthority">CountyAuthority</a> is considered to be a parentAuthority to a <a rel="rdfs:domain" href="#DistrictAuthority">DistrictAuthority</a>, and is responsible for some of the services in the District's area</p>
    		</div>
    		
    		<div typeof="rdf:Property" id="foi-data" about="#foi-data">
    			<h3><span property="rdfs:label">FOI data</span> (openlylocal:foi-data)</h3>
    			<p property="rdfs:comment">Links the entity to a page containing 
    				information obtained under a Freedom of Information Act in a 
    				relevant jurisdiction.</p>
    			<p>The relationship is almost the same as 
    			<a rel="rdfs:subPropertyOf" href="http://xmlns.com/foaf/0.1/page">foaf:page</a>.</p>
    		</div>
		
    		<div typeof="rdf:Property" id="meeting" about="#meeting">
    			<h3><span property="rdfs:label">meeting</span> (openlylocal:meeting)</h3>
    			<p property="rdfs:comment">Links an organisation to a meeting of the organisation or of any part 
    			of the organisation. A relationship of this kind signals the intent of the group members to
    			attend, but does not imply attendance.</p>
    			<p>Meeting connects a <a rel="rdfs:domain" href="http://xmlns.com/foaf/0.1/Group">Group</a> to an 
    			<a rel="rdfs:range"  href="http://www.w3.org/2002/12/cal#Vevent">Event</a>.</p>
    		</div>

    		<div typeof="rdf:Property" id="committee" about="#committee">
    			<h3><span property="rdfs:label">committee</span> (openlylocal:committee)</h3>
    			<p><span property="rdfs:comment">Links a local authority to a part of itself.</span>
    			<span>In particular an <a rel="rdfs:domain" href="http://xmlns.com/foaf/0.1/Organization">Organisation</a>
    			is linked to a <a rel="rdfs:range" href="http://xmlns.com/foaf/0.1/Group">Group</a>.</span></p>
    		</div>
		
    		<div typeof="rdf:Property" id="notes" about="#notes">
    			<h3><span property="rdfs:label">notes</span> (openlylocal:notes)</h3>
    			<p><span property="rdfs:comment">Links a thing to notes about the thing provided by They Work For You.</span>
    			<span>The notes can be any <a rel="rdfs:range" href="http://www.w3.org/2000/01/rdf-schema#Literal">literal</a> 
    			including text in any language, XML or XHTML.</span></p>
    		</div>
		
    		<div typeof="rdf:Property" id="minutes" about="#minutes">
    			<h3><span property="rdfs:label">minutes</span> (openlylocal:minutes)</h3>
    			<p property="rdfs:comment">Links an event to a document describing the decisions and discussion that 
    			occurred at the event, as well as information about the running of the event.</p>
    			<p>The minutes link connects an <a rel="rdfs:domain" href="http://www.w3.org/2002/12/cal#Vevent">Event</a> to a
    			<a rel="rdfs:range"  href="http://xmlns.com/foaf/0.1/Document">Document</a>.</p>
    		</div>
    		
    		<div typeof="rdf:Property" id="isPoliceForceFor" about="#isPoliceForceFor">
    			<h3><span property="rdfs:label">Is Police Force For</span> (openlylocal:isPoliceForceFor)</h3>
    			<p property="rdfs:comment">Links PoliceForces and Local Authorities. A <a rel="rdfs:domain" href="http://dbpedia.org/resource/Category:Police_forces_of_the_United_Kingdom">PoliceForce</a> is considered to be the police force for a <a rel="rdfs:domain" href="#LocalAuthority">Local Authority</a>, and is responsible for the policing and law enforcement in the LocalAuthority's area</p>
    		</div>
    		
    		<div typeof="rdf:Property" id="isPoliceAuthorityFor" about="#isPoliceForceFor">
    			<h3><span property="rdfs:label">Is Police Authority For</span> (openlylocal:isPoliceAuthorityFor)</h3>
    			<p property="rdfs:comment">Links PoliceAuthorities and Police Forces. A <a rel="rdfs:domain" href="#PoliceAuthority">PoliceAuthority</a> is considered to be governing body for a <a rel="rdfs:domain" href="http://dbpedia.org/resource/Category:Police_forces_of_the_United_Kingdom">Police Force</a></p>
    		</div>
    		
    		<div typeof="rdf:Property" id="votes" about="#votes">
    			<h3><span property="rdfs:label">votes</span> (openlylocal:votes)</h3>
    			<p><span property="rdfs:comment">Links a candidate to the number of votes cast for that candidate in an election.</span>
    			<span>The votes are an <a rel="rdfs:range" href="http://www.w3.org/2001/XMLSchema#integer">integer</a>.</span></p>
    		</div>
    		
    		<div typeof="rdf:Property" id="electorate" about="#electorate">
    			<h3><span property="rdfs:label">electorate</span> (openlylocal:electorate)</h3>
    			<p><span property="rdfs:comment">Links an election to the total number of possible votes cast.</span>
    			<span>The electorate is an <a rel="rdfs:range" href="http://www.w3.org/2001/XMLSchema#integer">integer</a>.</span></p>
    		</div>
		
      </div>
      <%= render :partial => 'shared/footer' %>
		</div>
	</body>
</html>