<!DOCTYPE html>
<html>
<%= render :partial => 'shared/layout_head' %>
<body class='<%= @controller.controller_name %>'<%= " onload='initMap()'" if @enable_google_maps %>>
  <div class="container">
    <%= render :partial => 'shared/header' %>
    <div id="content">
      <% if flash[:notice] || flash[:now] || @message -%>
        <div id="message_area">
          <p class="alert"><%= flash[:notice] || @message %><%= flash[:now] %></p>
        </div>
      <% end -%>
      <%= yield %>
      <%= render :partial => 'shared/share_block' if @share_this %>
    </div>
    <%= render :partial => 'shared/footer' %>
  </div>
  <%= render :partial => 'shared/google_analytics' %>
</body>
</html> 