<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
  "http://www.w3.org/TR/html4/loose.dtd">
<html
  <%= render :partial => 'layouts/rdfa_links' if @add_rdfa_headers %>
	>
<%= render :partial => 'shared/layout_head' %>
<body class='<%= @controller.controller_name %>'>
  <div class="container">
    <%= render :partial => 'shared/header' %>
    <div id="content">
      <%= yield %>
      <%= render :partial => 'shared/share_block' if @share_this %>
    </div>
    <%= render :partial => 'shared/footer' %>
  </div>
  <%= render :partial => 'shared/google_analytics' %>
</body>
</html> 