<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML+RDFa 1.0//EN" 
    "http://www.w3.org/MarkUp/DTD/xhtml-rdfa-1.dtd">
<html
  xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"
  <%= render :partial => 'layouts/rdfa_links' if @add_rdfa_headers %>
	>
<%= render :partial => 'shared/layout_head' %>
<body class='<%= @controller.controller_name %>'>
  <div class="container">
    <%= render :partial => 'shared/header' %>
    <div id="content">
      <div id="message_area">
        <p class="warning"><%= flash[:notice] %></p>  
      </div>
      <%= yield %>
      <%= render :partial => 'shared/share_block' if @share_this %>
    </div>
    <%= render :partial => 'shared/footer' %>
  </div>
  <%= render :partial => 'shared/google_analytics' %>
</body>
</html> 