<h1>Editing Member: <%= @member.full_name %></h1>
<%= error_messages_for :member %>

<% form_for @member do |f| -%>
  <p>
    <%= f.label :full_name %>
    <%= f.text_field :full_name %>
  </p>
  <p>
    <%= f.label :url %>
    <%= f.text_field :url %>
  </p>
  <p>
    <%= f.label :uid %>
    <%= f.text_field :uid %>
  </p>
  <p>
    <%= f.label :date_elected %>
    <%= f.text_field :date_elected %>
  </p>
  <p>
    <%= f.label :date_left %>
    <%= f.text_field :date_left %>
  </p>
  <p>
    <%= f.label :party %>
    <%= f.text_field :party %>
  </p>
  <p>
    <%= f.label :twitter_account_name %>
    <%= f.text_field :twitter_account_name %>
  </p>
  <p>
    <%= f.label :blog_url %>
    <%= f.text_field :blog_url %>
  </p>
  <p>
    <%= f.submit "Submit" %>
  </p>
<% end -%>

<%= button_to "Delete Member", member_path(@member), :confirm => "Are you sure?", :method => :delete %>