<%- div_for @member, :class => 'vcard' do -%>
  <%= content_tag(:h4, "Former Member", :class => "alert") if @member.ex_member? %>
  <h1><span class='fn'><%= @member.full_name %></span> <em><%= council_page_for @member %></em></h1>
  <dl id="main_attributes" class="attributes">
    <%= attribute_tag :council, basic_link_for(@council, :class => 'org') %>
    <%= attribute_tag :party, @member.party, :class => 'category' %>
    <%= attribute_tag :ward, basic_link_for(@member.ward) %>
    <%= attribute_tag :email, (@member.email ? mail_to(@member.email, @member.email, :encode => "javascript", :class => 'email') : 'not known') %>
    <%= attribute_tag :address, @member.address, :class => 'label' %>
    <%= attribute_tag :tel, @member.telephone, :text => "Telephone" %>
    <%= attribute_tag :blog, link_to(@member.blog_url, @member.blog_url, :class => 'url', :rel => 'me') if @member.blog_url? %>
    <%= attribute_tag :social_networking, social_networking_links_for(@member) %>
    <%= attribute_tag :date_elected, (@member.latest_succesful_candidacy ? link_to(@member.latest_succesful_candidacy.poll.date_held.to_s(:event_date), @member.latest_succesful_candidacy.poll) : (@member.date_elected? ? @member.date_elected.to_s(:custom_short) : 'not known')) %>
    <%= attribute_tag(:date_left, "#{@member.date_left.to_s(:custom_short)} (approx)") unless @member.date_left.blank? %>
    <%= attribute_tag :declarations, link_to('Register of interests', @member.register_of_interests, :class => "external") if @member.register_of_interests? %>
  </dl>
  
  <%= render :partial => 'wards/ward_boundary', :object => @member.ward.boundary if @member.ward %>


  <div id="relationships">
    <div id="committees" class="item_grouping">
      <h3>Committee Memberships</h3>
      <%= list_all @committees %>
      <%= content_tag(:p, "#{@committees.size} committees in total. Average for this council: " + ("%.1f" % @council.average_membership_count), :class => "notes") unless @committees.blank? %>
    </div>

    <div id="meetings" class="item_grouping">
      <h3>Forthcoming meetings</h3>
      <p><%= link_to_calendar %></p>
      <%= list_all @forthcoming_meetings %>
    </div>
    
    <%= render :partial => '/shared/related_articles', :object => @member.related_articles(:limit => 5) %>
  </div>

  <%= render :partial => '/shared/api_info' %>

  <%= timestamp_data_for @member %>
<%- end -%>
