<h1><%= @member.full_name %> <em><%= council_page_for @member %></em></h1>
<p>Council <strong><%= link_to h(@council.name), @council %></strong></p>
<p>Party <strong><%= @member.party %></strong></p>
<p>Ward <strong><%= link_for(@member.ward) || 'not known' %></strong></p>
<p>Email <strong><%= @member.email ? mail_to(@member.email, @member.email, :encode => "javascript") : 'not known' %></strong></p>
<p>Address <strong><%= @member.address || 'not known' %></strong></p>
<p>Date elected <strong><%= @member.date_elected ? @member.date_elected.to_s(:custom_short) : 'not known' %></strong></p>
<p>Declaration of Interests <strong><%= @member.declaration_of_interests ? link_to(@member.declaration_of_interests, @member.declaration_of_interests, :class => "external") : 'not known' %></strong></p>

<div id="committees" class="item_grouping">
  <h3>Committee Memberships</h3>
  <%= list_all @committees %>
</div>

<div id="meetings" class="item_grouping">
  <h3>Forthcoming meetings</h3>
  <p><%= link_to_calendar %></p>
  <%= list_all @forthcoming_meetings %>
</div>

<%= render :partial => '/shared/api_info' %>

<%= timestamp_data_for @member %>

