<%- div_for @member, :resource => "#this", :typeof => "twfyl:LocalAuthorityMember" do -%>
  <h1><span property="foaf:name rdfs:label"><%= @member.full_name %></span> <em><%= council_page_for @member, :rel => "foaf:page" %></em></h1>
  <div id="data">
    <p class="attribute"><strong>Council</strong> <%= link_to h(@council.name), @council, :rev => "foaf:member" %></p>
    <p class="attribute"><strong>Party </strong><%= @member.party %></p>
    <p class="attribute"><strong>Ward </strong><%= link_for(@member.ward) || 'not known' %></p>
    <p class="attribute"><strong>Email </strong><%= @member.email ? mail_to(@member.email, @member.email, :encode => "javascript", :rel => "foaf:mbox") : 'not known' %></p>
    <p class="attribute"><strong>Address </strong><%= @member.address || 'not known' %></p>
    <p class="attribute"><strong>Telephone </strong><%= @member.telephone || 'not known' %></p>
    <p class="attribute"><strong>Date elected </strong><%= @member.date_elected ? @member.date_elected.to_s(:custom_short) : 'not known' %></p>
    <p class="attribute"><strong>Register of Interests </strong><%= @member.register_of_interests ? link_to(@member.register_of_interests, @member.register_of_interests, :class => "external") : 'not known' %></p>
  </div>

  <div id="committees" class="item_grouping">
    <h3>Committee Memberships</h3>
    <%= list_all @committees, :rev => "foaf:member" %>
    <%= content_tag(:p, "#{@committees.size} committees in total. Average for this council: " + ("%.1f" % @council.average_membership_count), :class => "notes") unless @committees.blank? %>
  </div>

  <div id="meetings" class="item_grouping">
    <h3>Forthcoming meetings</h3>
    <p><%= link_to_calendar %></p>
    <%= list_all @forthcoming_meetings, :rel => "twfyl:meeting" %>
  </div>

  <%= render :partial => '/shared/api_info' %>

  <%= timestamp_data_for @member %>
<%- end -%>
